#GridView{
	border-style: solid;
	border-width: 5px;
	width: 1010px;
	height: 450px;
	
	position: absolute;
    top: 100px;
    left: 100px;
	padding-left: 0px;
	padding-right: 0px;
	padding-top: 5px;
	padding-bottom: 5px;
	
	-webkit-border-radius: 3px 5px 1px 4px;
	-moz-border-radius: 4px;
	border-radius: 20px;
}

#GridViewElementos{
	display: inline;
	float: left;
	margin-top: 2em;
	margin-left: 1em;
	padding: .3em;
	border: 2px solid #555;
	width: 300px;
	height: 300px;
	font: 1em Arial, Helvetica, sans-serif;

	-webkit-border-radius: 3px 5px 1px 4px;
	-moz-border-radius: 4px;
	border-radius: 20px;
}


divd{
	border-style: solid;
	border-width: 5px;
	width: 400px;
	height: 500px;
	
	position: relative;
    top: 100px;
    left: 900px;
}



/* --- Paginador ---*/
.un-box { margin: 5px; }
.wraper { padding: 5px; background: #fff; -webkit-border-radius: 5px; -moz-border-radius: 5px; border-radius: 5px; }
.custom-pages { list-style: none; }
.custom-textarea { font-size: 14px; height: 348px; line-height: 18px; margin: 10px 0; }

.tp-control-arrows { height: 40px; float: left; }
.tp-control-pages { height: 40px; }
.tp-control-arrow-left { background: #777777; color: #FFFFFF; cursor: pointer; float: left; margin: 0 5px; padding: 10px; }
.tp-control-arrow-right { background: #777777; color: #FFFFFF; cursor: pointer; float: left; margin: 0 5px; padding: 10px; }
.tp-control-arrow-left.unactive { background: #eee; }
.tp-control-arrow-right.unactive { background: #eee; }
.tp-page { background: #777777; color: #FFFFFF; cursor: pointer; float: left; margin: 0 5px; padding: 10px; }
.tp-page.active { background: #ff0000; color: #FFFFFF; }
/* --- Paginador ---*/