body{
	font-family: 'Helvetica', 'Lucida Grande', 'Arial', sans-serif;
}
.border, .rain{
	height: 170px;
	width: 320px;
}
/* Layout with mask */
.rain{
	padding: 10px 12px 12px 10px;
	-moz-box-shadow: 10px 10px 10px rgba(255,255,255,1) inset, -9px -9px 8px rgba(255,255,255,1) inset;
	-webkit-box-shadow: 8px 8px 8px rgba(255,255,255,1) inset, -9px -9px 8px rgba(255,255,255,1) inset;
	box-shadow: 8px 8px 8px rgba(255,255,255,1) inset, -9px -9px 8px rgba(255,255,255,1) inset;
	margin: 100px auto;
}
/* Artifical "border" to clear border to bypass mask */
.border{
	padding: 1px;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	border-radius: 5px;
}

.border, .rain, .border.start, .rain.start{
	background-repeat: repeat-x, repeat-x, repeat-x, repeat-x;
	background-position: 0 0, 0 0, 0 0, 0 0;
	/* Blue-ish Green Fallback for Mozilla */
	background-image: -moz-linear-gradient(left, #09ba5e 0%, #00C7ce 15%, #3472cf 26%, #00c7ce 48%, #0ccf91 91%, #09ba5e 100%);
	/* Add "Highlight" Texture to the Animation */
	background-image: -webkit-gradient(linear, left top, right top, color-stop(1%,rgba(0,0,0,.3)), color-stop(23%,rgba(0,0,0,.1)), color-stop(40%,rgba(255,231,87,.1)), color-stop(61%,rgba(255,231,87,.2)), color-stop(70%,rgba(255,231,87,.1)), color-stop(80%,rgba(0,0,0,.1)), color-stop(100%,rgba(0,0,0,.25)));
	/* Starting Color */
	background-color: #39f;
	/* Just do something for IE-suck */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00BA1B', endColorstr='#00BA1B',GradientType=1 );
}
			
/* Non-keyframe fallback animation */
.border.end, .rain.end{
	-moz-transition-property: background-position;  
	-moz-transition-duration: 30s;
	-moz-transition-timing-function: linear;
	-webkit-transition-property: background-position;  
	-webkit-transition-duration: 30s;  
	-webkit-transition-timing-function: linear;
	-o-transition-property: background-position;  
	-o-transition-duration: 30s;  
	-o-transition-timing-function: linear;
	transition-property: background-position;  
	transition-duration: 30s;  
	transition-timing-function: linear;
	background-position: -5400px 0, -4600px 0, -3800px 0, -3000px 0;	
}

/* Keyfram-licious animation */
@-webkit-keyframes colors {
	0% {background-color: #3399ff;}
	15% {background-color: #f246c9;}
	30% {background-color: #4453f2;}
	45% {background-color: #44f262;}
	60% {background-color: #f257d4;}
	75% {background-color: #eDf255;}
	90% {background-color: #f20006;}
	100% {background-color: #3399ff;}
}
.border, .rain{
	-webkit-animation-direction: normal;
	-webkit-animation-duration: 20s;
	-webkit-animation-iteration-count: infinite;
	-webkit-animation-name: colors;
	-webkit-animation-timing-function: ease;
}

/* In-Active State Style */
.border.unfocus{
	background: #333 !important;	
	-moz-box-shadow: 0px 0px 15px rgba(255,255,255,.2);
	-webkit-box-shadow: 0px 0px 15px rgba(255,255,255,.2);
	box-shadow: 0px 0px 15px rgba(255,255,255,.2);
	-webkit-animation-name: none;
}
.rain.unfocus{
	background: #D4D4D8 !important;	
	-webkit-animation-name: none;
}

/* Regular Form Styles */
form{
	background: #ffffff;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	border-radius: 5px;
	height: 100%;
	width: 100%;
	background: -moz-radial-gradient(50% 46% 90deg,circle closest-corner, #efc34a, #efc34a);
	background: -webkit-gradient(radial, 50% 50%, 0, 50% 50%, 150, from(#efc34a), to(#efc34a));
}
form label{
	display: block;
	padding: 10px 10px 5px 15px;
	font-size: 13px;
	color: #444444;
	font-weight: bold;
}
form input{
	display: block;
	margin: 5px 10px 10px 15px;
	width: 85%;
	background: #f6d680;
	-moz-box-shadow: 0px 0px 4px #ae7b2e inset;
	-webkit-box-shadow: 0px 0px 4px #ae7b2e inset;
	box-shadow: 0px 0px 4px #ae7b2e inset;
	
	border: 1.5px solid #ae7b2e;
	padding: 5px;
	color: #444444;
	font-size: 16px;
}
form input:focus{
	outline: 2px solid #ae7b2e;
	color: #777777;
}
input[type="submit"]{
	color: #904900;
	padding: 5px 10px;
	float: right;
	margin: 15px 0;
	margin-bottom: 0px;
	border: 1px solid #b26b00;
	font-weight: lighter;
	-moz-border-radius: 15px;
	-webkit-border-radius: 15px;
	border-radius: 15px;
	background: #ffff4d;
	background: -moz-linear-gradient(top, #ff9900 0%, #ff9900 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#ff9900), color-stop(100%,#FF9900));
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#22222', endColorstr='#11111',GradientType=0 );
	-moz-box-shadow: 0px 1px 1px #c18933, 0px 1px 0px rgba(193,137,51,.3) inset;
	-webkit-box-shadow: 0px 1px 1px #c18933, 0px 1px 0px rgba(193,137,51,.3) inset;
	box-shadow: 0px 1px 1px #c18933,0px 1px 0px rgba(193,137,51,.3) inset;
	text-shadow: 0 1px 1px #c18933;
}