.comentario{
				width: 90%;
				background-color: #ffffff;
				border: 2px solid #000000;
				min-height: 300px;
				
				-webkit-border-radius: 3px 5px 1px 4px;
				-moz-border-radius: 4px;
				border-radius: 10px;
	
				position: relative;
	
				margin: auto;
			}
			.avatar{
				height: 200px;
				width: 200px;
				
				border: 2px solid #000000;
				
				-webkit-border-radius: 3px 5px 1px 4px;
				-moz-border-radius: 4px;
				border-radius: 10px;
				
				margin-right: 20px;
			}
			.fecha{
				text-align: center;
				margin-right: 24px;
			}
			.ckeditor{
				width: 85%;
				
				-webkit-border-radius: 3px 5px 1px 4px;
				-moz-border-radius: 4px;
				border-radius: 10px;
				
				position: relative;
				margin: auto;
				
				margin-top: 40px;
				margin-bottom: 25px;
			}
			.vacio{
				font-size: 64px;
				color: #555555;
				margin-left: 280px;
			}
			#cke_86{
				display: none;
			}
			.usuario{
				font-size: 28px;
				text-align: center;
				margin-left: 20px;
				text-shadow: 0px 0px 0px #f3f3f3 !important;
			}
			.preespaciado{
				line-height: 4px;
			}
			.botonEnviar{
				width: 100%;
				height: 35px;
				font-size: 16px;
				
				background-color: #edeeed;
				border: none;
				cursor: pointer;
				
				border-left: 1px solid #b6b6b6;
				border-right: 1px solid #b6b6b6;
				border-bottom: 1px solid #b6b6b6;
			}
html,body {
	margin:0;
	padding:0;
}
.datos_usuario{
	float: left;
	border-right: 2px solid #cccccc;
	margin-right: 20px;
	margin-left: 20px;
	height: 100%;
	min-height: 240px;
	max-height: 240px;
}
.separar{
	height: 0px;
	margin: 3px;
}
.encabezado{
	width: 100%;
	border-bottom: 2px solid #000000;
	margin-bottom: 15px;
	padding-top: 7px;
	padding-bottom: 7px;
	background-color: #ffe066; /*#ffad33*/
	
-webkit-border-top-right-radius: 6px;
-moz-border-radius-topright: 4px;
border-top-right-radius: 10px;

-webkit-border-top-left-radius: 6px;
-moz-border-radius-topleft: 4px;
border-top-left-radius: 10px;
}
.encabezado#escribi{
	background-color: #85b5ff; /*#66a3ff*/
}
.contenido{
	padding-left: 20px;
	padding-right: 20px;
	width: 98%;
	/*padding-left: 271px;  76%*/
}