html{
	position: relative;
}
div.footer{
	background-color: #f5d272;
	width: 100%;
	height: 45px;
	position: absolute;
	bottom: 0px;
}
div.footer p.contacto{
	text-align: right;
	margin-top: 14px;
	margin-right: 10px;
	font-family: Cambria, Palatino, "Palatino Linotype", "Palatino LT STD", Georgia, serif;
	font-size: 15px;
	color: #593741;
}
div.footer div.contenedor{
	position: relative;
}
.digg{
	position: absolute;
	bottom: -14px;
	left: 0px;
	
	width: 70px;
	height: 70px;
	
	background-image: url(iconos_sociales/digg_pre.png);
	background-repeat: no-repeat;
	background-size: 100% 100%;
	background-position: left top, right bottom, 0 0;

	transition: all 1.2s;
}
.digg:hover{
	background-image: url(iconos_sociales/digg.png);
	cursor: pointer;
}
.digg:before{
	background-image: url(iconos_sociales/digg_pre.png);
	transition-duration: 1.2s;
}
.dribbble{
	position: absolute;
	bottom: -14px;
	left: 80px;
	
	width: 70px;
	height: 70px;
	
	background-image: url(iconos_sociales/dribbble_pre.png);
	background-repeat: no-repeat;
	background-size: 100% 100%;
	background-position: left top, right bottom, 0 0;

	transition: all 1.2s;
}
.dribbble:hover{
	background-image: url(iconos_sociales/dribbble.png);
	cursor: pointer;
}
.dribbble:before{
	background-image: url(iconos_sociales/dribbble_pre.png);
	transition-duration: 1.2s;
}
.facebook{
	position: absolute;
	bottom: -14px;
	left: 160px;
	
	width: 70px;
	height: 70px;
	
	background-image: url(iconos_sociales/facebook_pre.png);
	background-repeat: no-repeat;
	background-size: 100% 100%;
	background-position: left top, right bottom, 0 0;

	transition: all 1.2s;
}
.facebook:hover{
	background-image: url(iconos_sociales/facebook.png);
	cursor: pointer;
}
.facebook:before{
	background-image: url(iconos_sociales/facebook_pre.png);
	transition-duration: 1.2s;
}
.friendfeed{
	position: absolute;
	bottom: -14px;
	left: 240px;
	
	width: 70px;
	height: 70px;
	
	background-image: url(iconos_sociales/friendfeed_pre.png);
	background-repeat: no-repeat;
	background-size: 100% 100%;
	background-position: left top, right bottom, 0 0;

	transition: all 1.2s;
}
.friendfeed:hover{
	background-image: url(iconos_sociales/friendfeed.png);
	cursor: pointer;
}
.friendfeed:before{
	background-image: url(iconos_sociales/friendfeed_pre.png);
	transition-duration: 1.2s;
}
.google-plus{
	position: absolute;
	bottom: -14px;
	left: 320px;
	
	width: 70px;
	height: 70px;
	
	background-image: url(iconos_sociales/google-plus_pre.png);
	background-repeat: no-repeat;
	background-size: 100% 100%;
	background-position: left top, right bottom, 0 0;

	transition: all 1.2s;
}
.google-plus:hover{
	background-image: url(iconos_sociales/google-plus.png);
	cursor: pointer;
}
.google-plus:before{
	background-image: url(iconos_sociales/google-plus_pre.png);
	transition-duration: 1.2s;
}
.rss{
	position: absolute;
	bottom: -14px;
	left: 400px;
	
	width: 70px;
	height: 70px;
	
	background-image: url(iconos_sociales/rss_pre.png);
	background-repeat: no-repeat;
	background-size: 100% 100%;
	background-position: left top, right bottom, 0 0;

	transition: all 1.2s;
}
.rss:hover{
	background-image: url(iconos_sociales/rss.png);
	cursor: pointer;
}
.rss:before{
	background-image: url(iconos_sociales/rss_pre.png);
	transition-duration: 1.2s;
}
.stumbleupon{
	position: absolute;
	bottom: -14px;
	left: 480px;
	
	width: 70px;
	height: 70px;
	
	background-image: url(iconos_sociales/stumbleupon_pre.png);
	background-repeat: no-repeat;
	background-size: 100% 100%;
	background-position: left top, right bottom, 0 0;

	transition: all 1.2s;
}
.stumbleupon:hover{
	background-image: url(iconos_sociales/stumbleupon.png);
	cursor: pointer;
}
.stumbleupon:before{
	background-image: url(iconos_sociales/stumbleupon_pre.png);
	transition-duration: 1.2s;
}
.twitter-bird{
	position: absolute;
	bottom: -14px;
	left: 560px;
	
	width: 70px;
	height: 70px;
	
	background-image: url(iconos_sociales/twitter-bird_pre.png);
	background-repeat: no-repeat;
	background-size: 100% 100%;
	background-position: left top, right bottom, 0 0;

	transition: all 1.2s;
}
.twitter-bird:hover{
	background-image: url(iconos_sociales/twitter-bird.png);
	cursor: pointer;
}
.twitter-bird:before{
	background-image: url(iconos_sociales/twitter-bird_pre.png);
	transition-duration: 1.2s;
}
.viemo{
	position: absolute;
	bottom: -14px;
	left: 640px;
	
	width: 70px;
	height: 70px;
	
	background-image: url(iconos_sociales/viemo_pre.png);
	background-repeat: no-repeat;
	background-size: 100% 100%;
	background-position: left top, right bottom, 0 0;

	transition: all 1.2s;
}
.viemo:hover{
	background-image: url(iconos_sociales/viemo.png);
	cursor: pointer;
}
.viemo:before{
	background-image: url(iconos_sociales/viemo_pre.png);
	transition-duration: 1.2s;
}
.youtube{
	position: absolute;
	bottom: -14px;
	left: 720px;
	
	width: 70px;
	height: 70px;
	
	background-image: url(iconos_sociales/youtube_pre.png);
	background-repeat: no-repeat;
	background-size: 100% 100%;
	background-position: left top, right bottom, 0 0;

	transition: all 1.2s;
}
.youtube:hover{
	background-image: url(iconos_sociales/youtube.png);
	cursor: pointer;
}
.youtube:before{
	background-image: url(iconos_sociales/youtube_pre.png);
	transition-duration: 1.2s;
}
@media (max-width: 805px) {
	.youtube {
		display: none;
	}
}
@media (max-width: 725px) {
	.viemo {
		display: none;
	}
}
@media (max-width: 643px) {
	.twitter-bird {
		display: none;
	}
}
@media (max-width: 559px) {
	.stumbleupon {
		display: none;
	}
}
@media (max-width: 481px) {
	.rss {
		display: none;
	}
}
@media (max-width: 401px) {
	.google-plus {
		display: none;
	}
}
@media (max-width: 319px) {
	.friendfeed {
		display: none;
	}
}
@media (max-width: 239px) {
	.facebook {
		display: none;
	}
}
@media (max-width: 159px) {
	.dribbble {
		display: none;
	}
}
@media (max-width: 81px) {
	.digg {
		display: none;
	}
}