#GridView{
	border-style: solid;
	border-width: 5px;
	width: 79%;
	height: 450px;
	
	position: relative;
	
	margin: auto;
	margin-top: 90px;
	
	padding-left: 0px;
	padding-right: 0px;
	padding-top: 5px;
	padding-bottom: 5px;
	
	-webkit-border-radius: 3px 5px 1px 4px;
	-moz-border-radius: 4px;
	border-radius: 20px;
}

#GridViewElementos{
	display: inline;
	float: left;
	margin-top: 2em;
	margin-left: 1em;
	padding-left: 1.2em;
	padding-right: 1.2em;
	padding-top: .3em;
	border: 2px solid #555;
	width: 300px;
	height: 300px;
	font: 1em Arial, Helvetica, sans-serif;

	-webkit-border-radius: 3px 5px 1px 4px;
	-moz-border-radius: 4px;
	border-radius: 20px;
	
	overflow: hidden;
}

#GridViewElementos img{
	border-radius: 5px 5px 5px 5px;
	-moz-border-radius: 5px 5px 5px 5px;
	-webkit-border-radius: 5px 5px 5px 5px;
	border: 0px solid #000000;
	width: 60%;
	margin: 1em 25%;
	margin-left: 20%;
	margin-right: 20%;
	height: 160px;
}

#GridViewElementos p.titulo{
	margin-bottom: 15px;
}



/* --- Paginador ---*/
.un-box { height: 340px!important; width: 100%!important; }
.custom-pages { list-style: none; }
.custom-textarea { font-size: 14px; height: 340px!important; line-height: 18px; margin: 10px 0; }
/*.tp-vertivalbox { margin-top: 340px!important; }
.tp-horizontalbox { margin-top: 340px!important; }*/
.un-box>div{height: 340px!important;}

.tp-control-arrows { height: 40px; float: left; }
.tp-control-pages { height: 40px; }
.tp-control-arrow-left { background: #777777; color: #FFFFFF; cursor: pointer; float: left; margin: 0 5px; padding: 10px; }
.tp-control-arrow-right { background: #777777; color: #FFFFFF; cursor: pointer; float: left; margin: 0 5px; padding: 10px; }
.tp-control-arrow-left.unactive { background: #eee; }
.tp-control-arrow-right.unactive { background: #eee; }
.tp-page { background: #777777; color: #FFFFFF; cursor: pointer; float: left; margin: 0 5px; padding: 10px; width: 7px!important; }
.tp-page.active { background: #ff0000; color: #FFFFFF; }
/* --- Paginador ---*/