span#terminos {
	display: inline;
	position: absolute;
	z-index: 9999;
	font-weight: 700;
	text-transform: uppercase;
	letter-spacing: 0.5em;
	padding: 0 0 0.6em 0.1em;
	
	width: 15px;
	height: 15px;
	background: url(../img/terminos.png);
	background-size: 100% 100%;
	background-repeat: no-repeat;
	margin-left: 5px;
}
span#terminos:after {
	width: 30px;
	height: 30px;
	left: -12px;
	font-size: 50%;
	top: -8px;
	font-size: 75%;
	position: relative;
}
span#terminos:hover:before {
	content: attr(data-content);
	text-transform: none;
	text-indent: 0;
	letter-spacing: 0;
	font-weight: 300;
	font-size: 110%;
	padding: 0.8em 1em;
	line-height: 1.2;
	text-align: left;
	left: auto;
	margin-left: 4px;
	position: absolute;
	color: #47a3da;
	background: #000000;
}
.bp-icon-about:after {
	background: url(../img/terminos.png);
	background-size: 100% 100%;
	background-repeat: no-repeat;
}