.avatar_desplegable{
	height: 145px;
	width: 145px;
	border: 1.5px solid #000000;
	
	-webkit-border-radius: 3px 5px 1px 4px;
	-moz-border-radius: 4px;
	border-radius: 10px;
	
	margin-right: 22px;
	margin-left: 15px;
	margin-bottom: 5px;
	margin-top: 15px;
	
	float: left;

	background-color: #efefef;
}
.ver_datos{
	min-width: 500px;
	max-width: 780px;
	
	padding-top: 1px;
	border: 2.5px solid #a3a3a3;
	
	font-size: 14px;
	
	background-color: white;
	-webkit-border-radius: 3px 5px 1px 4px;
	-moz-border-radius: 4px;
	border-radius: 10px;
	
	/*inset*/
	-webkit-box-shadow: 1px 0px 40px 0px rgba(50, 50, 50, 0.78);
	-moz-box-shadow:    1px 0px 40px 0px rgba(50, 50, 50, 0.78);
	box-shadow:         1px 0px 40px 0px rgba(50, 50, 50, 0.78);
	
	background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0.5, #f8f8f8), color-stop(1, #dddddd));
	background-image: -o-linear-gradient(bottom, #f8f8f8 50%, #dddddd 100%);
	background-image: -moz-linear-gradient(bottom, #f8f8f8 50%, #dddddd 100%);
	background-image: -webkit-linear-gradient(bottom, #f8f8f8 50%, #dddddd 100%);
	background-image: -ms-linear-gradient(bottom, #f8f8f8 50%, #dddddd 100%);
	background-image: linear-gradient(to bottom, #f8f8f8 50%, #dddddd 100%);
}
.nombre_usuario{
	font-size: 27px;
	font-weight: bold;

	margin-bottom: 25px;
	margin-top: 17px!important;
}
.boton_galeria{
	border: 0px outset buttonface !important;

	background-color: none !important;
	padding: 0px 0px !important;
	height: 50px;
	width: 50px;
	
	background-color: rgba(255,255,255,0);
	
	background-image: url(../img/galeria.png);
	background-size: 100% 100%;
	background-repeat: no-repeat;
	
	position: absolute;
	bottom: 20px;
	right: 20px;
}
.descripcion{
	font-size: 16px;
	padding-left: 10px;
	padding-right: 80px;
}