<!DOCTYPE html>
<html>
	<head>
		<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
		<title>{{ titulo }}</title>
		<link rel="shortcut icon" href="favicon.png" type="image/png" />
		<script src="ckeditor/ckeditor.js"></script>
		<link rel="stylesheet" type="text/css" href="../fondo/fondo.css" />
		<style type="text/css"> 
			.comentario{
				width: 90%;
				background-color: #ff0000;
				border: 2px solid #000000;
				
				-webkit-border-radius: 3px 5px 1px 4px;
				-moz-border-radius: 4px;
				border-radius: 10px;
	
				position: relative;
	
				margin: auto;
	
				padding-left: 20px;
				padding-right: 20px;
				padding-top: 10px;
				padding-bottom: 15px;

			}
			.avatar{
				float: left;
				
				height: 200px;
				width: 200px;
				
				border: 2px solid #000000;
				
				-webkit-border-radius: 3px 5px 1px 4px;
				-moz-border-radius: 4px;
				border-radius: 10px;
				
				margin-right: 20px;
			}
			.separacion1{
				line-height: 40px;
			}
			.fecha{
				position:absolute;
				bottom: 15px;
				right:20px;
			}
			.ckeditor{
				width: 85%;
				
				-webkit-border-radius: 3px 5px 1px 4px;
				-moz-border-radius: 4px;
				border-radius: 10px;
				
				position: relative;
				margin: auto;
				
				margin-top: 50px;
				margin-bottom: 25px;
			}
		</style>
	</head>
	<body>
		<div class="comentario">
			<img src="brujula.jpg" class="avatar" />
			<strong>{{ usuario }}</strong><br class="separacion1" />
			Numero 1Numero 2Numero 2Numero 2Numero 2Numero 2Numero 2Numero 2Numero 2Numero 2Numero 2Numero 2<br />
			Numero 2<br />
			Numero 3<br />
			Numero 4<br />
			Numero 5<br />
			Numero 6<br />
			Numero 7<br />
			Numero 6<br />
			Numero 7<br />
			Numero 6<br />
			Si lo he escrito yo se pone azul, si no, no se.
			<div class="fecha">7 days ago</div>
		</div>
		
		<form class="ckeditor" method="post" action="mostrar.php" enctype="multipart/form-data">
			<textarea name="ckeditor"></textarea>
			<button type="submit" name="enviar">Enviar</button>
		</form>
        <script>
            CKEDITOR.replace( 'ckeditor' );
        </script>
	</body>
</html>