.imagen{
	float: left;

	height: 86px;
	width: 86px;

	border: 2px solid #444444;

	-webkit-border-radius: 3px 5px 1px 4px;
	-moz-border-radius: 4px;
	border-radius: 10px;

	margin-right: 21px;
	margin-left: 2px;
	margin-top: 1px;
}
.imagen2{
	float: left;

	height: 90px;
	width: 90px;

	border: 2px solid #000000;

	-webkit-border-radius: 3px 5px 1px 4px;
	-moz-border-radius: 4px;
	border-radius: 10px;

	margin-right: 20px;
}
.vista_previa{
	float: left;

	height: 160px;
	width: 160px;

	border: 2px solid #000000;

	-webkit-border-radius: 3px 5px 1px 4px;
	-moz-border-radius: 4px;
	border-radius: 10px;

	margin-right: 20px;
	
	background-image: url(sin_imagen.jpg);
	background-repeat: no-repeat;
	background-size: 100% 100%;
	background-position: left top, right bottom, 0 0;
	
	position: relative;
}
img.vista_previa, img.previsualizar{
	position: absolute;
	top: 0;
	left: 0;
	margin-right: 0px;
	border: 0px;
	height: 160px;
	width: 160px;
	border: 2px solid #000000;
}
img.vista_previa{
	border: 0px solid #000000;
	height: 156px;
	width: 156px;
}
img.previsualizar{
	position: absolute;
	top: 0;
	left: 0;
	margin-right: 0px;
	border: 0px;
	height: 150px;
	width: 150px;
	border: 1px solid #000000;
}
output img.thumb{
	position: absolute;
	top: 0;
	left: 0;
	margin-right: 0px;
	border: 0px;
	height: 160px;
	width: 160px;
	
	-webkit-border-radius: 3px 5px 1px 4px;
	-moz-border-radius: 4px;
	border-radius: 10px;
}
strong{
	font-size:20px;
	line-height:20px;
}
.cuadro_desplegable {
	min-height: 20px;
	padding: 19px;
	margin-bottom: 20px;
	background-color: #f5f5f5;
	border: 1px solid #e3e3e3;
	border-radius: 4px;
	-webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.05);
	box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.05);
	color: #222222;
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}
div.tooltip.bottom.green{
	position: absolute;
	top: 5px;
	right: 56px;
	padding: 5px;
}
div.tooltip.bottom.red{
	position: absolute;
	top: 10px;
	right: 19px;
}

div#nuevo_foro textarea{
	margin: 0px;
	margin-left: 0px;
	margin-right: 0px;
	padding-top: 4px;
	margin-bottom: 10px;
}
div#nuevo_foro input{
	margin: 0px;
	margin-left: 0px;
	margin-right: 0px;
	
}
.upload { 
	margin-bottom: 20px;
	position: relative;
	cursor: pointer !important;
	background: #6ccaa5;
	padding: 10px 20px;
	border: 2px solid transparent;
	color: #fff;
	border-radius:2px;
	font-weight: 400;
	font-size: 15px;
}

.upload:hover {
	background: #fff;
	padding: 10px 20px;
	border: 2px solid #6ccaa5;
	color: #6ccaa5;
	cursor: pointer;
}
   
#files {
	cursor: pointer;
	display: block;
	position:absolute !important;
	top:0 !important;
	left: 0 !important;
	/* start of transparency styles */
	opacity:0;
	-moz-opacity:0;
	filter: alpha(opacity:0);
	/* end of transparency styles */
	background: red;
	z-index:2; /* bring the real upload interactivity up front */
	width:100%;
	height: 100%;
}
.upload:hover #input-file{
	display: block;
}

pre{
	overflow: hidden;
	/* overflow: scroll;
	border: 12px; */
	position: relative;
}
h4{
	font-size: 21px !important;
}
hr#separacion{
	background-color: #777777;
	height: 2px;
	margin-top: 20px;
	margin-bottom: 20px;
	border: 0;
	border-top: 1px solid #eeeeee
}
form.acceder button{
	background-color: transparent;
	border: none;
	cursor: pointer;
	color: rgba(0,0,0,0);
	
	background-image: url(../img/go.png);
	background-repeat: no-repeat;
	background-size: 100% 100%;
	background-position: left top, right bottom, 0 0;
	
	width: 35px;
	height: 35px;
}
form.acceder{
	position: absolute;
	bottom: 3px;
	right: 3px;
	background-color: transparent;
}
#amigos .insertar_amigo{
	margin-left: 3px;
	height: 32px;
	width: 36%;
	-moz-border-radius: 3px;
	-webkit-border-radius: 3px;
	border-radius: 3px;
	border: 1px solid #cccccc;
	padding: 0 4px 0 4px;
}
@media screen and (max-width: 1353px) {
	#amigos .insertar_amigo{
		width: 32%;
		margin-bottom: 4px;
	}
}
@media screen and (max-width: 1271px) {
	#amigos .insertar_amigo{
		width: 27%;
	}
}
#amigos p{
	font-size: 17px;
	margin-left: 4px;
	float: left;
	margin-top: 7px;
	clear: both;
}
#amigos div.lista_amigos{
	background-color: #ffffff;
	-moz-border-radius: 3px;
	-webkit-border-radius: 3px;
	border-radius: 3px;
	border: 1px solid #cccccc;
	padding: 8px 4px 0 12px;
	height: 38px;
	width: 83%;
	font-size: 18px;
	margin-left: 1%;
	float: left;
	margin-right: 2%;
	margin-bottom: 10px;
}#amigos div.lista_amigos.principal{
	height: 28px;
}
@media screen and (max-width: 1056px) {
	#amigos div.lista_amigos{
		width: 73%;
	}
	#amigos p{
		clear: left;
		float: none;
		margin-bottom: 7px;
	}
}
@media screen and (max-width: 354px) {
	#amigos div.lista_amigos{
		width: 65%;
	}
	#amigos input.eliminar_amigo{
		width: 14%;
	}
}
#amigos input.eliminar_amigo{
	background-color: #ffffff;
	-moz-border-radius: 3px;
	-webkit-border-radius: 3px;
	border-radius: 3px;
	border: 1px solid #cccccc;
	height: 38px;
	width: 9%;
	font-size: 18px;
	color: rgba(255, 255, 255, 0);
	
	background-image: url(../img/salir.ico);
	background-repeat: no-repeat;
	background-size: 100% 100%;
	background-position: left top, right bottom, 0 0;
	margin-bottom: 10px;
}
p.strong{
	font-weight: 400;
	font-size: 15px;
	margin: 0px 0px 0px 0px;
}

h4{
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
	font-weight: 500;
	line-height: 1.1;
	margin-top: 10px;
	margin-bottom: 10px;
	font-size: 18px;
}


.texto_sala{
	width: 80%;
	height: 32px;

	padding-left: 12px;
	margin-bottom: 9px;
	margin-right: 14px;
	margin-left: 2%;
	font-size: 20px;
}
@media screen and (max-width: 1054px) {
	.texto_sala{
		width: 75%;
		font-size: 17px;
	}
}
@media screen and (max-width: 703px) {
	.texto_sala{
		width: 70%;
		margin-right: 9px;
		font-size: 14px;
	}
}
@media screen and (max-width: 526px) {
	.texto_sala{
		width: 65%;
		font-size: 12px;
	}
}
@media screen and (max-width: 434px) {
	.texto_sala{
		width: 60%;
		margin-right: 3px;
		font-size: 8px;
	}
}
.boton_sala{
	width: 8%;
	height: 32px;
	border: 0;
	background: none;
	outline: 0;
	background-image: url(../img/go.png);
	background-repeat: no-repeat;
	background-size: 100% 100%;
	background-position: left top, right bottom, 0 0;
	position: relative;
	top: 11px;
}
.boton_chat{
	width: 97%;
	height: 32px;
	border: 1px solid #a9a9a9;
	background: none;
	outline: 0;
	margin-left: 9px;
	
	font-size: 20px;
	/*font-weight: bold;*/
	color: #a9a9a9;
	
	background: -webkit-linear-gradient(bottom, #f8f8f8 50%, #dddddd 100%); /* For Safari 5.1 to 6.0 */
	background: -o-linear-gradient(bottom, #f8f8f8 50%, #dddddd 100%); /* For Opera 11.1 to 12.0 */
	background: -moz-linear-gradient(bottom, #f8f8f8 50%, #dddddd 100%); /* For Firefox 3.6 to 15 */
	background: linear-gradient(to bottom, #f8f8f8 50%, #dddddd 100%); /* Standard syntax */
}

.boton {
	display: inline-block;
	padding: 6px 12px;
	margin-bottom: 0;
	font-size: 14px;
	font-weight: normal;
	line-height: 1.428571429;
	text-align: center;
	vertical-align: middle;
	cursor: pointer;
	border: 1px solid transparent;
	border-radius: 4px;
	white-space: nowrap;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	-o-user-select: none;
	user-select: none;
	color: #333333;
	background-color: #ffffff;
	border-color: #cccccc;
}
.boton:focus {
	outline: thin dotted #333;
	outline: 5px auto -webkit-focus-ring-color;
	outline-offset: -2px;
}
.boton:hover,
.boton:focus {
	color: #333333;
	text-decoration: none;
	color: #333333;
	background-color: #ebebeb;
	border-color: #adadad;
}
.boton:active {
	outline: 0;
	background-image: none;
	-webkit-box-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
	box-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
	color: #333333;
	background-color: #ebebeb;
	border-color: #adadad;
}
pre {
	white-space: pre-wrap;
}
code, pre {
	font-size: 1em;
	font-family: Monaco, Menlo, Consolas, "Courier New", monospace;
}
pre {
	display: block;
	padding: 9.5px;
	margin: 0 0 10px;
	font-size: 13px;
	line-height: 1.428571429;
	word-break: break-all;
	word-wrap: break-word;
	color: #333333;
	background-color: #f5f5f5;
	border: 2px solid #cccccc;
	border-radius: 4px;
	
	height: 91px;
}
pre.formulario{
	height: 114px;
}

pre code {
	padding: 0;
	font-size: inherit;
	color: inherit;
	white-space: pre-wrap;
	background-color: transparent;
	border: 0;
}
code {
	padding: 2px 4px;
	font-size: 90%;
	color: #c7254e;
	background-color: #f9f2f4;
	white-space: nowrap;
	border-radius: 4px;
}