<!DOCTYPE html>
<html>
	<head>
		<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
		<title>{{ titulo }}</title>
		<link rel="shortcut icon" href="favicon.png" type="image/png" />
		
		<link rel="stylesheet" type="text/css" href="validador/terminos_condiciones.css" />
		
		<link rel="stylesheet" href="fondo/fondo.css" />
		
		<link rel="stylesheet" type="text/css" href="BootStrap/bs.css">
			
		<script type="text/javascript" src="jquery/jquery-1.8.2.min.js"></script>
		<script type="text/javascript" src="jquery/jquery-1.11.2.min.js"></script>
		<script type="text/javascript" src="validador/jquery.validate.min.js"></script>
		<script type="text/javascript" src="validador/messages_es.js"></script>
		<script type="text/javascript" src="validador/additional-methods.min.js"></script>

		<link rel="stylesheet" href="pickadate/lib/themes/classic.css" id="theme_base">
		<link rel="stylesheet" href="pickadate/lib/themes/classic.date.css" id="theme_date">
		
		
		
		
		<style type="text/css">
			.datepicker{
				cursor: pointer!important;
			}
			.campo{
				position: relative;
				height: 34px;
			}
			div.error{
				width: 30px;
				height: 30px;
				background-image: url("img/salir.ico");
				background-size: 100% 100%;
				position: absolute;
				top: 2px;
				right: 19px;
				color: rgba(255,255,255,0);
			}
			div.error:hover{
				width: 274px;
				height: 30px;
				top: 7px;
				background-image: none;
				color: rgba(0,0,0,1);
				font-weight: bold;
			}
			div.error[for=nombres]:hover{
				width: 212px;
				height: 30px;
				top: 7px;
				background-image: none;
				color: rgba(0,0,0,1);
				font-weight: bold;
			}
			div.error[for=apellidos]:hover{
				width: 212px;
				height: 30px;
				top: 7px;
				background-image: none;
				color: rgba(0,0,0,1);
				font-weight: bold;
			}
			div.error[for=imagen]{
				
			}
			div.error[for=aceptarTerminos]{
				right: -5px;
			}
			div.error[for=aceptarTerminos]:hover{
				left: 274px;
				width: 274px;
				height: 30px;
				top: 0px;
				background-image: none;
				color: rgba(0,0,0,1);
				font-weight: bold;
			}
			div.error[for=recaptcha_response_field]{
				visibility: hidden;
				display: none;
			}
			input.form-control.error{
				border: 2px solid #d40000;
				background-color: #fddfdf;
			}
			#imagen::-webkit-file-upload-button {
				visibility: hidden;
				border: 2px solid #d40000;
				width: 0px;
				padding-left: 0px;
				padding-right: 0px;
			}
			#imagen::before {
				content: "Select some files";
				cursor: pointer;
				visibility: hidden;
				display: none;
			}
			img.previsualizar{
				width: 140px;
				height: 140px;
				border: 1px solid #000000;
				
				position: absolute;
				left: -1px;
				top: -1px;
				
				background: -webkit-linear-gradient(bottom, #f8f8f8 50%, #dddddd 100%); /* For Safari 5.1 to 6.0 */
				background: -o-linear-gradient(bottom, #f8f8f8 50%, #dddddd 100%); /* For Opera 11.1 to 12.0 */
				background: -moz-linear-gradient(bottom, #f8f8f8 50%, #dddddd 100%); /* For Firefox 3.6 to 15 */
				background: linear-gradient(to bottom, #f8f8f8 50%, #dddddd 100%); /* Standard syntax */
			}
			@media (max-width: 1199px) {
				div.previsualizar{
					display: none;
				}
			}
			div.previsualizar{
				width: 140px;
				height: 30px;
				
				position: absolute;
				right: 104px;
				top: 0px;
			}
			p.previsualizar{
				font-size: 17px;
				font-weight: bold;
			}
			output#list{
				width: 140px;
				height: 140px;
				border: 1px solid #000000;
				
				position: absolute;
				right: 0px;
				top: 24px;
				
				background-image: url("img/no_avatar.jpg");
				background-size: 100% 100%;
			}
			.usuario{
				position: relative;
			}
		</style>
	
		<script type="text/javascript">
			$(document).ready(function() {
				<!-- Activamos la validación sobre el formulario --!>
				$("#defaultForm").validate({
					//errorContainer: "#errores",
					//errorLabelContainer: "#errores ul",
					//wrapper: "li",
					//errorElement: "em",
					rules: {
						nombres: 			{required: true, minlength: 2},
						apellidos:		 	{required: true, minlength: 3},
						usuario:            {required: true, minlength: 3, remote: {url: "datos/usuarios.php", type: "post"}},
						email: 	            {required: true, email: true, remote: {url: "datos/emails.php", type: "post"}},
						
						telefono: 			{required: false, number: true, min: 100000, max: 99999999999, minlength: 8},
						
						password:			{required: true, minlength: 8},
						confirmarPassword:	{required: true, minlength: 8, equalTo: "#password"},
						
						imagen:				{required: false, extension: "jpg|jpeg|png|gif|bmp|ico"},
						
						aceptarTerminos:	"required",
						recaptcha_response_field: {required: true, minlength: 1},
						
						nacionalidad:		{required: false},
						fecha:				{required: false}
						
						
					},
					messages: {
						nombres: {
							required:	  "No dejes el nombre vacío",
							minlength:	  "Debe medir como mínimo 2 caracteres"
						},
						apellidos: {
							required:	  "No dejes los apellidos vacíos",
							minlength:	  "Debe medir como mínimo 3 caracteres"
						},
						usuario: {
							required:	  "El usuario es obligatorio",
							minlength:	  "Debe medir como mínimo 3 caracteres",
							remote:		  jQuery.validator.format("Ya hay un usuario con el nombre {0}")
						},
						email: {
							required:	  "No dejes el e-mail vacío",
							email:		  "Formato no valido: E-Mail",
							remote:		  jQuery.validator.format("Ya existe el e-mail {0}")
						},
						telefono: {
							number:		  "Solo aceptamos números",
							min:		  "Demasiado pocos números",
							max:		  "Demasiado números"
						},
						password: {
							required:	  "La contraseña es obligatoria",
							minlength:	  "No puede tener menos de 8 caracteres"
						},
						confirmarPassword: {
							required:	  "Vuelve a poner la contraseña",
							minlength:	  "No puede tener menos de 8 caracteres",
							equalTo:	  "No coincide con la contraseña"
						},
						imagen: {
							extension:	  "Tipo de archivo no valido"
						},
						aceptarTerminos: "Por favor, acepta los términos y condiciones",
						recaptcha_response_field: "No dejes el captcha vacío"
					},
					
					//errorClass: "error label label-warning",
					errorElement: "div",
					errorPlacement: function(error, element) {
						error.insertAfter(element);
						//alert(element.name);
						//$("[for=error]").css("display", "none");
						//var a=[1,2,3,4,5,6,7,8,9,10];
						/*
						for (key in element)
							{
								var value=element[key];
								document.write("<br>"+key+" - "+value);
							}*/
						//alert(element);
						//alert(error.);
						//document.write(element);
						//document.write("<h1>Este es un encabezado escrito con JS</h1>");
						//$(element).css({ backgroundColor: '#ffcccc' });
						//$(element).css({ border: '2px solid red' });
						
						//$(".error").css("display", "none");
						//alert("Esto es un mensaje de JavaScript");
						//$(error).css({ fontWeight: 'bold' });
						
						
					}
				});
				$("#resetBtn").click(function () {
					//alert("Accedistes");
					$('#defaultForm')[0].reset();
					//$("#nombres").text("");
					//var validator = $( "#defaultForm" ).validate();
					//validator.resetForm();
				});
				
			});
		</script>
		
	</head>
	<body>

	
		
		
		<div class="container">
			<div class="row">
				<section>
					<div class="col-lg-8 col-lg-offset-2">
						<div class="page-header">
							<h2>Darse de alta</h2>
						</div>

						<form id="defaultForm" method="post" class="form-horizontal" action="index.php" enctype="multipart/form-data">
							
							
							
							
							
							
							
							
							
							<div class="form-group">
								<label class="col-lg-3 control-label">Nombre y apellidos</label>
								<div class="col-lg-4 campo">
									<input type="text" class="form-control" name="nombres" id="nombres" placeholder="Nombre" />
									
									
								</div>
								<div class="col-lg-4 campo">
									<input type="text" class="form-control" name="apellidos" placeholder="Apellidos" />
									
								</div>
							</div>

							<div class="form-group usuario">
								<label class="col-lg-3 control-label">Usuario</label>
								<div class="col-lg-5 campo">
									<input type="text" class="form-control" name="usuario" />
								</div>
								<div class="previsualizar">
									<p class="previsualizar">Avatar.:</p>
									<output id="list"></output>
								</div>
							</div>

							<div class="form-group">
								<label class="col-lg-3 control-label">Email</label>
								<div class="col-lg-5 campo">
									<input type="text" class="form-control" name="email" />
								</div>
							</div>
							
							<div class="form-group">
								<label class="col-lg-3 control-label">Teléfono</label>
								<div class="col-lg-5 campo">
									<input type="text" class="form-control" name="telefono" />
								</div>
							</div>

							<div class="form-group">
								<label class="col-lg-3 control-label">Contraseña</label>
								<div class="col-lg-5 campo">
									<input type="password" class="form-control" name="password" id="password" />
								</div>
							</div>

							<div class="form-group">
								<label class="col-lg-3 control-label">Repetir contraseña</label>
								<div class="col-lg-5 campo">
									<input type="password" class="form-control" name="confirmarPassword" />
								</div>
							</div>
							
							<div class="form-group">
								<label class="col-lg-3 control-label">Nacionalidad</label>
								<div class="col-lg-5">
									<select class="form-control" name="nacionalidad">
										<option value="">-- Seleccionar País --</option>
										<option value="España">España</option>
										<option value="Francia">Francia</option>
										<option value="Reino Unido">Reino Unido</option>
										<option value="Alemania">Alemania</option>
										<option value="Italia">Italia</option>
										<option value="Japon">Japon</option>
										<option value="Rusia">Rusia</option>
										<option value="Estados Unidos">Estados Unidos</option>
									</select>
								</div>
							</div>
							
							<div class="form-group">
								<label class="col-lg-3 control-label">Fecha de nacimiento (DD/MM/AAAA)</label>
								<div class="col-lg-5 campo">
									<div class="input-group date" id="datetimePicker">
										<input type="text" class="form-control datepicker" name="fecha" />
										<span class="input-group-addon"><span class="glyphicon glyphicon-calendar"></span></span>
									</div>
								</div>
							</div>
							
							<div class="form-group avatar">
								<label class="col-lg-3 control-label">Avatar</label>
								<div class="col-lg-5">
									<input type="file" name="imagen" id="imagen" class="form-control" />
									<span class="help-block">La imagén no debe pesar más de 1MB.</span>
								</div>
							</div>
							
							<div class="form-group">
								<label class="col-lg-3 control-label">Género</label>
								<div class="col-lg-5">
									<div class="radio">
										<label>
											<input type="radio" name="genero" value="Hombre" /> Varon
										</label>
									</div>
									<div class="radio">
										<label>
											<input type="radio" name="genero" value="Mujer" /> Mujer
										</label>
									</div>
									<div class="radio">
										<label>
											<input type="radio" name="genero" value="Otro" /> Otro
										</label>
									</div>
								</div>
							</div>
							
							<div class="form-group">
								<label class="col-lg-3 control-label">Descripción</label>
								<div class="col-lg-8">
									<textarea rows="5" class="form-control" name="descripcion"></textarea>
								</div>
							</div>
							
							<div class="form-group">
								<div class="col-lg-5 col-lg-offset-3">
									<div class="col-lg-11 checkbox">
										<input type="checkbox" name="aceptarTerminos" /> Aceptar los términos y condiciones
										<span id="terminos" data-content="Terminos y condiciones todavía sin redactar."></span>
									</div>
								</div>
							</div>
							
							<div class="form-group">
								<div class="col-lg-5 col-lg-offset-3">
									{{ recaptcha | raw }}
								</div>
							</div>
							
							
							<div class="form-group">
								<div class="col-lg-9 col-lg-offset-3">
									<button type="submit" class="btn btn-primary" name="signup" value="Sign up">Enviar</button>
									<button type="button" class="btn btn-info" id="resetBtn">Borrar campos</button>
								</div>
							</div>
						</form>
					</div>
				</section>
			<!-- :form -->
			</div>
		</div>
		
		
		
		
		
		
        <script>
			function archivo(evt) {
				var files = evt.target.files; // FileList object

				// Obtenemos la imagen del campo "file".
				for (var i = 0, f; f = files[i]; i++) {
					//Solo admitimos imágenes.
					if (!f.type.match('image.*')) {
						continue;
					}

					var reader = new FileReader();

					reader.onload = (function(theFile) {
						return function(e) {
						// Insertamos la imagen
						document.getElementById("list").innerHTML = ['<img class="previsualizar" src="', e.target.result,'" title="', escape(theFile.name), '"/>'].join('');
					};
				})(f);

				reader.readAsDataURL(f);
			}
		}

		document.getElementById('imagen').addEventListener('change', archivo, false);
	</script>
    

		
		<script src="pickadate/lib/picker.js"></script>
		<script src="pickadate/lib/picker.date.js"></script>
		<script src="pickadate/demo/scripts/demo.js"></script>
		<script type="text/javascript">
			$( '.datepicker' ).pickadate({format: 'dd/mm/yyyy'});
		</script>
		<script>
              function archivo(evt) {
                  var files = evt.target.files; // FileList object
             
                  // Obtenemos la imagen del campo "file".
                  for (var i = 0, f; f = files[i]; i++) {
                    //Solo admitimos imágenes.
                    if (!f.type.match('image.*')) {
                        continue;
                    }
             
                    var reader = new FileReader();
             
                    reader.onload = (function(theFile) {
                        return function(e) {
                          // Insertamos la imagen
                         document.getElementById("list").innerHTML = ['<img class="previsualizar" src="', e.target.result,'" title="', escape(theFile.name), '"/>'].join('');
						 $(".cargar").css("background", "none");
                        };
                    })(f);
             
                    reader.readAsDataURL(f);
                  }
              }
             
			document.getElementById('files').addEventListener('change', archivo, false);
			
		</script>
	</body>
</html>