<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<title>{{ titulo }}</title>
<link rel="shortcut icon" href="favicon.png" type="image/png" />
<link rel="stylesheet" type="text/css" href="fondo/fondo.css" />
<br /><br />

        <div style="width: 12.66666667%;
		float: left; position: relative; min-height: 1px; padding-right: 15px; padding-left: 15px;"></div>
		<div style="width: 66.66666667%;background-color: rgb(238,238,238); border-radius: 15px; -moz-border-radius: 15px; border-radius: 15px;
		float: left; position: relative; min-height: 1px;padding-right: 15px; padding-left: 15px;">
			<h2>Confirma tu incripción por <span style="color: #777;">e-mail.</span></h2>
			<p style="margin-bottom: 20px;font-size: 16px;font-weight: 300;line-height: 1.4;font-size: 21px;">Se ha enviado un correo a la cuenta especificada en la inscripción. Por favor, ingresa en tu correo para terminar de registrarte en la web.</p>
			
			<a href="index.php"><input class="btn" type="submit" value="Volver"
			style="width: 120px; height: 30px; border: solid 2px #0b0017; border-radius: 5px;
			moz-border-radius: 5px; -webkit-box-shadow: 6px 6px 23px rgba(0,0,0,0.7);
			-moz-box-shadow: 6px 6px 23px rgba(0,0,0,0.7); box-shadow: 6px 6px 23px rgba(0,0,0,0.7);
			font-size: 20px;color: #000000;padding: 1px 17px; background-color: #007bff;font-size: 18px;"
			/></a>
			<br/><br />
		</div>
      </div>