<!DOCTYPE html>
<html lang="es" class="no-js">
	<head>
		<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
		<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<title>{{ titulo }}</title>
		<link rel="shortcut icon" href="favicon.png" type="image/png" />
		

		
		<link rel="stylesheet" type="text/css" href="formulario/css/default.css" />
		<link rel="stylesheet" type="text/css" href="formulario/css/component.css" />
		
		<link rel="stylesheet" type="text/css" href="fondo/fondo.css" />
		
		<script src="formulario/js/modernizr.custom.js"></script>
		
		<script type="text/javascript" src="jquery/jquery-1.8.2.min.js"></script>
		<script type="text/javascript" src="validador/jquery.validate.min.js"></script>
		<script type="text/javascript" src="validador/messages_es.js"></script>
		

		<link rel="stylesheet" href="pickadate/lib/themes/classic.css" id="theme_base">
		<link rel="stylesheet" href="pickadate/lib/themes/classic.date.css" id="theme_date">
		
		<style type="text/css">
			.valid {color: green!important;}
			.error {color: red!important;}
		</style>
	
		<script type="text/javascript">
			$(document).ready(function() {
				<!-- Activamos la validación sobre el formulario --!>
				$("#entityDataForm").validate({
					errorContainer: "#errores",
					errorLabelContainer: "#errores ul",
					wrapper: "li",
					errorElement: "em",
					rules: {
						usuario:            {required: false, minlength: 3, remote: {url: "datos/usuarios.php", type: "post"}},
						vieja_contrasena:   {required: false, minlength: 8, remote: {url: "datos/pass.php", type: "post"}},
						nueva_contrasena: 	{required: false, minlength: 8},
						repetir_contrasena: {required: false, minlength: 8, equalTo: "#nueva_contrasena"},
						nombre:             {required: false, minlength: 5},
						email: 	            {required: false, email: true, remote: {url: "datos/emails.php", type: "post"}},
						fecha_nacimiento: 	{required: false},
						telefono:           {required: false, number: true, minlength: 6, maxlength: 12}
					},
					messages: {
						usuario: {
							remote:	  "Ya existe este usuario"
						},
						email: {
							email:	  "Formato no valido: E-Mail",
							remote:	  "Ya existe este e-mail"
						},
						vieja_contrasena: {
							remote:	  "Esta no es tu contraseña"
						},
						repetir_contrasena: {
							equalTo:	  "Las contraseñas no coinciden"
						}
					}
				});
				$.validator.methods.basicoCaptcha = function(value, element, param) {return value == param;};
				
				$("#manual").click(function() {
					  alert("¿Formulario válido?:  " + $("#entityDataForm").validate().form());
					  alert("Existen " + $("#entityDataForm").validate().numberOfInvalids() + " errores.");  
				});
			});
		</script>
		
		<script src="buscar/list.js"></script> <!-- Buscar -->
		<link rel="stylesheet" href="buscar/list.css" /> <!-- Buscar -->
		
		<!-- NavBar -->
		
		<link rel="stylesheet" href="navbar/style.css">
		
		<script>
			$(function() {
				var pull 		= $('#pull');
					menu 		= $('nav ul');
					menuHeight	= menu.height();

				$(pull).on('click', function(e) {
					e.preventDefault();
					menu.slideToggle();
				});

				$(window).resize(function(){
					var w = $(window).width();
					if(w > 320 && menu.is(':hidden')) {
						menu.removeAttr('style');
					}
				});
			});
		</script>
		
		
		
		<!-- Fin de NavBar -->
		
		<!-- ToolTip styles -->
		<link rel="stylesheet" href="desplegable/tooltip.css" />
		
		<!-- jQuery Popup Overlay -->
		<script type="text/javascript" src="desplegable/jquery.popupoverlay.js"></script>
		<link rel="stylesheet" href="desplegable/desplegable.css" />
		
		<style type="text/css">
			#errores li:first-child {
				width: 100%;
			}
			.thumb {
				height: 150px;
				width: 150px;

				position: absolute;
				top:0;
				left:0;

				background: -webkit-linear-gradient(bottom, #f8f8f8 50%, #dddddd 100%); /* For Safari 5.1 to 6.0 */
				background: -o-linear-gradient(bottom, #f8f8f8 50%, #dddddd 100%); /* For Opera 11.1 to 12.0 */
				background: -moz-linear-gradient(bottom, #f8f8f8 50%, #dddddd 100%); /* For Firefox 3.6 to 15 */
				background: linear-gradient(to bottom, #f8f8f8 50%, #dddddd 100%); /* Standard syntax */
				
				border: 1px solid #000000;
	
				-webkit-border-radius: 0px 0px 0px 0px;
				-moz-border-radius: 0px;
				border-radius: 0px;
			}
			img.thumb{
				border: 1px solid #000000;
			}
			input[type="file"]{
				z-index: 999;
				line-height: 0;
				font-weight: 400;
				font-size: 15px;
				position: absolute;
				opacity: 0;
				filter: alpha(opacity = 0);
				-ms-filter: "alpha(opacity=0)";
				margin: 0;
				padding: 0;
				left: 0;
				top: 0;
				width: 100%;
				height: 100%;
			}
			.cargar{
				height: 150px;
				width: 150px;
				border: 1px solid #000;
				
				color: rgba(255,255,255,0);
				
				background: -webkit-linear-gradient(bottom, #f8f8f8 50%, #dddddd 100%); /* For Safari 5.1 to 6.0 */
				background: -o-linear-gradient(bottom, #f8f8f8 50%, #dddddd 100%); /* For Opera 11.1 to 12.0 */
				background: -moz-linear-gradient(bottom, #f8f8f8 50%, #dddddd 100%); /* For Firefox 3.6 to 15 */
				background: linear-gradient(to bottom, #f8f8f8 50%, #dddddd 100%); /* Standard syntax */
				
				{% for l in datos_usuario %}
					{% if l.avatar %}
						background-image: url(galerias/fotos_{{ usuario }}/avatar/{{ l.avatar }});
					{% else %}
						background-image: url(img/sin_imagen.jpg);
					{% endif %}
				{% endfor %}
				background-size: 100% 100%;
				background-repeat: no-repeat;
			}
			.avatar{
				position: relative;
				height: 150px;
				width: 150px;
				
				float: right;
				
				background: -webkit-linear-gradient(bottom, #f8f8f8 50%, #dddddd 100%); /* For Safari 5.1 to 6.0 */
				background: -o-linear-gradient(bottom, #f8f8f8 50%, #dddddd 100%); /* For Opera 11.1 to 12.0 */
				background: -moz-linear-gradient(bottom, #f8f8f8 50%, #dddddd 100%); /* For Firefox 3.6 to 15 */
				background: linear-gradient(to bottom, #f8f8f8 50%, #dddddd 100%); /* Standard syntax */
			}
		</style>
		
		
		<script type="text/javascript" src="previsualizar/previsualizar.js"></script>
		
		
		<script>
jQuery(document).ready(function ($) {

 $('span.upload').prepend("<b>Subir imagen</b>");  //Your button text
 $('span.upload').append("<span class='filename'></span>");  //The file name 

/* Note: you can put this anywhere you want, i've put this withing the button,
for example. You are free to experiment */

$('#subir').change(function () {
   var filename = $('input[type=file]').val().split('\\').pop();
/* The above line will just take up the filename, as described in http://stackoverflow.com/a/6365883/2064231 */

    $('span.filename').html(" - " + filename); 

/* '$(this).val' can be use instead of 'filename' (without quotes) to get the complete url, though the complete url will be something like C:/fakeurl/filename.ext */
});
});
</script>
		
		
		
		</head>
	<body>

<div>
<div id="foros" class="cuadro_desplegable" style="width:57%;">
<h4>Foro</h4><br />
<input class="search" placeholder="Filtrar foros" />
<button class="sort" data-sort="name">Ordenar</button>
<div id="users" class="list" style="height:367px; overflow:auto;">
{% for d in temas %}
<pre class="formulario">
{% if d.imagen %}<img src="imagenes/{{ d.imagen }}" class="imagen" alt="{{ d.titulo }}" />{% else %}<img src="img/sin_imagen.jpg" alt="Sin imagen" class="imagen" />{% endif %}
<strong class="titulo">{{ d.titulo }}</strong>
<code>
{{ d.descripcion }}
</code>
<form class="acceder" method="post" action="index.php">
<input type="hidden" name="id_tema" value="{{ d.id_tema }}" />
<button type="submit"  name="ver_tema" />
</form></pre>
{% endfor %}
</div>



<div class="tooltip bottom green">
    <a class="foros_cerrar nuevo_foro_abrir"><img src="desplegable/mas.png" width="25" height="25" /></a>
<div class="tooltip-inner">Nueva entrada
<div class="tooltip-angle">
<div class="tooltip-angle-inner">
</div>
</div>
</div>
</div>




<div class="tooltip bottom red">
    <a class="foros_cerrar"><img src="desplegable/salir.ico" width="25" height="25" /></a>
<div class="tooltip-inner">Cerrar
<div class="tooltip-angle">
<div class="tooltip-angle-inner">
</div>
</div>
</div>
</div>


</div>

<!-- fadeandscale -->

<div id="nuevo_foro" class="cuadro_desplegable" style="width:40%;">
    <h4>Nueva entrada</h4>
	<hr id="bootstrap" />
	<div class="vista_previa" id="previsualizar"></div>
	<form method="post" action="index.php" enctype="multipart/form-data">
	<p class="strong">Titulo.: </p>
	<input name="titulo" type="text" /><br /><br />
	<p class="strong">Descripción.:</p>
	<textarea name="descripcion" rows="4" cols="38"></textarea>
	<br /><br />
	<span class="upload"><input type="file" id="subir" name="imagen"></span>
	<br /><br />
	<!-- <input id="bootstrap" type="file" id="files" name="files[]" /> id="input-file" -->
    
	<button name="nuevo_tema" type="submit" class="boton">Guardar</button>
    <button class="nuevo_foro_cerrar boton">Cerrar</button>
	</form>
</div>
</div>


<div id="chat" class="cuadro_desplegable" style="width:34%;">
	<form method="post" action="index.php">
		<input type="text" class="texto_sala" name="sala" placeholder="Inserta el número" />
		<button type="submit" class="boton_sala" name="ir_sala"></button>
		<input type="submit" name="chat" value="Nueva sala de chat" class="boton_chat" />
	</form>
</div>


<div id="amigos" class="cuadro_desplegable" style="width:36%;">
	<form method="post" action="index.php">
		<p>Agregar amigo: </p><input type="text" name="insertar_amigo" class="insertar_amigo" />
		<button class="boton" name="agregar_amigo">Guardar</button>
		<button class="amigos_cerrar boton">Cerrar</button>
		<input type="hidden" name="recargar_formulario" value="formulario" />
		<br /><hr />
		{% for g in amigos_usuario %}
			<div class="lista_amigos">
				{{ g.usuario }}
			</div>
			<input type="submit" name="borrar_amigo" value="{{ g.id_relacion }}" class="eliminar_amigo" />
		{% else %}
			Ja, ja no tienes amigos.
		{% endfor %}
	</form>
</div>

	
	
	<form method="post" action="index.php">
		<nav class="clearfix formulario">
			<ul class="clearfix">
				{% for d in datos_usuario %}
				<li><button type="submit" name="datos_personales" value="{{ d.id_usuario }}">
					{% if d.avatar %}
						<img src="galerias/fotos_{{ usuario }}/avatar/{{ d.avatar }}" alt="Perfil" width="50" height="50" />
					{% endif %}
					<div class="texto">{{ d.usuario }}</div>
				</button></li>
				<li>
					<input type="hidden" name="id_usuario" value="{{ d.id_usuario }}" />
					<input name="galeria" type="submit" value="Galeria" />
				</li>
				{% endfor %}
				<li><a class="foros_abrir">Foro</a></li>
				<li><a class="chat_abrir">Chat</a></li>
				<li><a class="amigos_abrir">Amigos</a></li>
				<li><input name="cerrar" type="submit" value="Salir" /></li>
			</ul>
			<a href="#" id="pull">Menu</a>
		</nav>
	</form>
		<div id="errores"><ul></ul></div>
		<form class="cbp-mc-form" id="entityDataForm" method="post" action="index.php" enctype="multipart/form-data">
			<div class="container">
				<header class="clearfixer">
					<div class="avatar">
						<input type="file" id="files" name="avatar" />
						<div class="cargar"></div>
						
						<output id="list"></output>
					</div>
					
					<span>Modificar datos <span class="bp-icon bp-icon-about" data-content="Modifica los datos de tu usuario."></span></span>
					<h1>{{ usuario }}</h1>
				</header>
				
				
				{% for d in datos_usuario %}
				<div class="main">
				
					<div class="cbp-mc-column">
						<label for="email">e-mail</label>
						<input type="text" id="email" name="email" placeholder="{{ d.email }}" />
						
						<label for="fecha_nacimiento">Fecha de nacimiento (DD/MM/AAAA)</label>
						<input type="text" id="fecha_nacimiento" class="datepicker" name="fecha_nacimiento" placeholder="{{ d.fecha_nacimiento }}" />
						
						<label>Nacionalidad</label>
						<select id="nacionalidad" name="nacionalidad">
	  						<option>{{ d.nacionalidad }}</option>
							{% if d.nacionalidad != 'España' %}
								<option value="España">España</option>
							{% endif %}
							{% if d.nacionalidad != 'Francia' %}
								<option value="Francia">Francia</option>
							{% endif %}
							{% if d.nacionalidad != 'Reino Unido' %}
								<option value="Reino Unido">Reino Unido</option>
							{% endif %}
							{% if d.nacionalidad != 'Alemania' %}
								<option value="Alemania">Alemania</option>
							{% endif %}
							{% if d.nacionalidad != 'Italia' %}
								<option value="Italia">Italia</option>
							{% endif %}
							{% if d.nacionalidad != 'Japon' %}
								<option value="Japon">Japon</option>
							{% endif %}
							{% if d.nacionalidad != 'Rusia' %}
								<option value="Rusia">Rusia</option>
							{% endif %}
							{% if d.nacionalidad != 'Estados Unidos' %}
								<option value="Estados Unidos">Estados Unidos</option>
							{% endif %}
						</select>
						
					</div>
					<div class="cbp-mc-column">
						
						<label for="nombre">Nombre</label>
						<input type="text" id="nombre" name="nombre" placeholder="{{ d.nombre }}" />
						
						<label for="telefono">Teléfono</label>
						<input type="text" id="telefono" name="telefono" placeholder="{{ d.telefono }}" />
						
						<label for="genero">Género</label>
						<select id="genero" name="genero">
							<option>{{ d.genero }}</option>
							<option>Varon</option>
							<option>Mujer</option>
							<option>Otro</option>
						</select>
						
					</div>
					<div class="cbp-mc-column">

						<label for="vieja_contrasena">Vieja contraseña</label>
						<input type="password" id="vieja_contrasena" name="vieja_contrasena" />
						<label for="nueva_contrasena">Nueva contraseña</label>
						<input type="password" id="nueva_contrasena" name="nueva_contrasena" />
						<label for="repetir_contrasena">Repetir contraseña</label>
						<input type="password" id="repetir_contrasena" name="repetir_contrasena" />
						<label for="descripcion">Descripción</label>
						<textarea id="descripcion" name="descripcion" placeholder="{{ d.descripcion }}"></textarea>
						<input type="hidden" name="id_usuario" value="{{ d.id_usuario }}" />
					</div>
				
					<div class="cbp-mc-submit-wrap"><input class="cbp-mc-submit" type="submit" value="Cambiar perfil" name="cambiar_datos" /></div>
				
				</div>
				{% endfor %}
			</div>

			<!-- <a href="#" id="manual">Validacion manual</a> -->
		</form>
		
		<script>
              function archivo(evt) {
                  var files = evt.target.files; // FileList object
             
                  // Obtenemos la imagen del campo "file".
                  for (var i = 0, f; f = files[i]; i++) {
                    //Solo admitimos imágenes.
                    if (!f.type.match('image.*')) {
                        continue;
                    }
             
                    var reader = new FileReader();
             
                    reader.onload = (function(theFile) {
                        return function(e) {
                          // Insertamos la imagen
                         document.getElementById("list").innerHTML = ['<img class="previsualizar" src="', e.target.result,'" title="', escape(theFile.name), '"/>'].join('');
						 $(".cargar").css("background", "none");
                        };
                    })(f);
             
                    reader.readAsDataURL(f);
                  }
              }
             
			document.getElementById('files').addEventListener('change', archivo, false);
			
		</script>

		<script src="pickadate/lib/picker.js"></script>
		<script src="pickadate/lib/picker.date.js"></script>
		<script src="pickadate/demo/scripts/demo.js"></script>
		<script type="text/javascript">
			$( '.datepicker' ).pickadate({format: 'dd/mm/yyyy'});
		</script>
		<script>
$(document).ready(function () {

    $('#foros').popup({
      transition: 'all 0.8s',
      scrolllock: true
    });

	$('#chat').popup({
      transition: 'all 0.8s',
      scrolllock: true
    });

    $('#nuevo_foro').popup({
        pagecontainer: '.container',
        transition: 'all 0.3s'
    });
	
	$('#amigos').popup({
      transition: 'all 0.8s',
      scrolllock: true
    });

});
</script>
<script>
	var options = {
	  valueNames: [ 'titulo' ]
	};
	var userList = new List('foros', options);
</script>

	</body>
</html>