<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
	<head>
		<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<title>{{ titulo }}</title>
		<link rel="shortcut icon" href="favicon.png" type="image/png" />
		
		<!-- Desplegable -->
		<link rel="stylesheet" href="desplegable_datos/jquery.mobile-1.4.5.css">
		<link rel="stylesheet" href="desplegable_datos/datos.css">
		<script src="desplegable_datos/jquery.js"></script>
		<script src="desplegable_datos/jquery.mobile-1.4.5.min.js"></script>
		<!-- Desplegable -->
		
		
		<script src="ckeditor/ckeditor.js"></script>
		
		
		<link rel="stylesheet" type="text/css" href="estilos_foro.css" />
		
		<link rel="stylesheet" href="footer.css" />
		
		<script src="buscar/list.js"></script> <!-- Buscar -->
		<link rel="stylesheet" href="buscar/list.css" /> <!-- Buscar -->
		
		
		<!-- NavBar -->
		
		<link rel="stylesheet" href="navbar/style.css">
		<script src="navbar/jquery.min.js"></script>		
		
		<link rel="stylesheet" type="text/css" href="fondo/fondo.css" />
		<script>
			$(function() {
				var pull 		= $('#pull');
					menu 		= $('nav ul');
					menuHeight	= menu.height();

				$(pull).on('click', function(e) {
					e.preventDefault();
					menu.slideToggle();
				});

				$(window).resize(function(){
					var w = $(window).width();
					if(w > 320 && menu.is(':hidden')) {
						menu.removeAttr('style');
					}
				});
			});
		</script>
		<!-- Fin de NavBar -->
		
		
		<!-- ToolTip styles -->
		<link rel="stylesheet" href="desplegable/tooltip.css" />


		<!-- jQuery -->
		<script src="jquery/jquery-1.8.2.min.js"></script>
		
		<!-- Paginador -->
		<script src="paginador/jquery-1.10.2.min.js"></script>
		<script src="paginador/jquery.textpager.js"></script>
		<!-- Fin de paginador -->
		
		<!-- jQuery Popup Overlay -->
		<script src="desplegable/jquery.popupoverlay.js"></script>
			
		<link rel="stylesheet" href="desplegable/desplegable.css" />
		
		
		
		<style type="text/css">
			div#nuevo_foro textarea{height:60px!important;}
		</style>

		<script>
			jQuery(document).ready(function ($) {

				$('span.upload').prepend("<b>Subir imagen</b>");  //Your button text
				$('span.upload').append("<span class='filename'></span>");  //The file name 

				/* Note: you can put this anywhere you want, i've put this withing the button,
				for example. You are free to experiment */

			$('#files').change(function () {
					var filename = $('input[type=file]').val().split('\\').pop();
					/* The above line will just take up the filename, as described in http://stackoverflow.com/a/6365883/2064231 */

					$('span.filename').html(" - " + filename); 

					/* '$(this).val' can be use instead of 'filename' (without quotes) to get the complete url, though the complete url will be something like C:/fakeurl/filename.ext */
				});
			});
		</script>
		
	</head>
	<body>

	
	
	
<div id="foros" class="cuadro_desplegable" style="width:57%;">
<h4>Foro</h4><br />
<input class="search" placeholder="Filtrar foros" />
<button class="sort" data-sort="name">Ordenar</button>
<div id="users" class="list" style="height:367px; overflow:auto;">
{% for d in temas %}
<pre class="principal">
{% if d.imagen %}<img src="imagenes/{{ d.imagen }}" class="imagen" alt="{{ d.titulo }}" />{% else %}<img src="img/sin_imagen.jpg" alt="Sin imagen" class="imagen" />{% endif %}
<strong class="titulo">{{ d.titulo }}</strong>
<code>
{{ d.descripcion }}
</code>
<form class="acceder" method="post" action="index.php">
<input type="hidden" name="id_tema" value="{{ d.id_tema }}" />
<button type="submit"  name="ver_tema" />
</form></pre>
{% endfor %}
</div>




<div class="tooltip bottom green">
    <a class="foros_cerrar nuevo_foro_abrir"><img src="desplegable/mas.png" width="25" height="25" /></a>
<div class="tooltip-inner">Nueva entrada
<div class="tooltip-angle">
<div class="tooltip-angle-inner">
</div>
</div>
</div>
</div>




<div class="tooltip bottom red">
    <a class="foros_cerrar"><img src="desplegable/salir.ico" width="25" height="25" /></a>
<div class="tooltip-inner">Cerrar
<div class="tooltip-angle">
<div class="tooltip-angle-inner">
</div>
</div>
</div>
</div>


</div>

<!-- fadeandscale -->

<div id="nuevo_foro" class="cuadro_desplegable" style="width:37%;">
    <h4>Nueva entrada</h4>
	<hr id="separacion" />
	<div class="vista_previa">
		<output id="list"></output>
	</div>
	<form method="post" action="index.php" enctype="multipart/form-data">
	<p class="strong">Titulo.: </p>
	<input name="titulo" type="text" /><br /><br />
	<p class="strong">Descripcion.:</p>
	<textarea name="descripcion" rows="14" cols="38"></textarea>
	<br /><br />
	<span class="upload"><input type="file" id="files" name="imagen"></span>
	<br /><br /><br />
	<!-- <input id="bootstrap" type="file" id="files" name="files[]" /> id="input-file" -->
    
	<button name="nuevo_tema" type="submit" class="boton">Guardar</button>
    <button class="nuevo_foro_cerrar boton">Cerrar</button>
	</form>
</div>



<div id="chat" class="cuadro_desplegable" style="width:34%;">
	<form method="post" action="index.php">
		<input type="text" class="texto_sala" name="sala" placeholder="Inserta el numero" />
		<button type="submit" class="boton_sala" name="ir_sala"></button>
		<input type="submit" name="chat" value="Nueva sala de chat" class="boton_chat" />
	</form>
</div>


<div id="amigos" class="cuadro_desplegable" style="width:34%;">
	<form method="post" action="index.php">
		<p>Agregar amigo: </p><input type="text" name="insertar_amigo" class="insertar_amigo" />
		<button class="boton" name="agregar_amigo">Guardar</button>
		<button class="amigos_cerrar boton">Cerrar</button>
		<input type="hidden" name="recargar_foro" value="foro" />
		<input type="hidden" name="id_tema" value="{{ id_tema }}" />
		<br /><hr />
		{% for g in amigos_usuario %}
			<div class="lista_amigos principal">
				{{ g.usuario }}
			</div>
			<input type="submit" name="borrar_amigo" value="{{ g.id_relacion }}" class="eliminar_amigo" />
		{% else %}
			Ja, ja no tienes amigos.
		{% endfor %}
	</form>
</div>
		<form method="post" action="index.php">
			<nav class="clearfix">
				<ul class="clearfix">
					{% for d in datos_usuario %}
					<li><button type="submit" name="datos_personales" value="{{ d.id_usuario }}">
						{% if d.avatar %}
							<img src="galerias/fotos_{{ d.usuario }}/avatar/{{ d.avatar }}" alt="Perfil" width="50" height="50" />
						{% endif %}
						<div class="texto">{{ d.usuario }}</div>
					</button></li>
					<li>
						<input type="hidden" name="id_usuario" value="{{ d.id_usuario }}" />
						<input name="galeria" type="submit" value="Galeria" />
					</li>
					{% endfor %}
					<li><a class="foros_abrir">Foro</a></li>
					<li><a class="chat_abrir">Chat</a></li>
					<li><a class="amigos_abrir">Amigos</a></li>
					<li><input name="cerrar" type="submit" value="Salir" /></li>
				</ul>
				<a href="#" id="pull">Menu</a>
			</nav>
		</form>
		
		
		
		
		
		
		<br />
		{% if comentarios %}
		
		{% for d in comentarios %}
			<br />
			<div class="comentario">
				{% if d.usuario == usuario %}
					<div class="encabezado" id="escribi">
				{% else %}
					<div class="encabezado">
				{% endif %}
					<a href="#ver_datos{{ d.id_usuario }}" data-rel="popup" data-position-to="window" style="text-decoration: none!important; color:#000000;">
						<strong class="usuario">{{ d.usuario }}</strong>
					</a>
				</div>
				<div class="datos_usuario">
					{% if d.avatar %}
						<a href="#ver_datos{{ d.id_usuario }}" data-rel="popup" data-position-to="window" style="text-decoration: none!important;">
							<img src="galerias/fotos_{{ d.usuario }}/avatar/{{ d.avatar }}" alt="{{ d.usuario }}" class="avatar" />
						</a>
					{% else %}
						<a href="#ver_datos{{ d.id_usuario }}" data-rel="popup" data-position-to="window" style="text-decoration: none!important;">
							<img src="img/no_avatar.jpg" alt="Sin avatar" class="avatar" />
						</a>
					{% endif %}
					<br />
					<div class="fecha">{{ d.tiempo }}</div>
				</div>
				<div class="contenido">
					{{ d.texto | raw }}
				</div>
			</div>
			<br /><br /><br />
			
			<div data-role="popup" id="ver_datos{{ d.id_usuario }}" class="ver_datos">
				<a href="#" data-rel="back" class="ui-btn ui-corner-all ui-shadow ui-btn-a ui-icon-delete ui-btn-icon-notext ui-btn-right">Cerrar</a>
				{% if d.avatar %}
					<img src="galerias/fotos_{{ d.usuario }}/avatar/{{ d.avatar }}" alt="{{ d.usuario }}" class="avatar_desplegable" />
				{% else %}
					<img src="img/no_avatar.jpg" alt="Sin avatar" class="avatar_desplegable" />
				{% endif %}
				<p class="nombre_usuario">{{ d.usuario }} ({{ d.nombre }})</p>
				{{ d.nacionalidad }} nacido el {{ d.fecha_nacimiento }}<br/>
				Miembro desde: {{ d.fecha_registrado }}<br/>
				contacto: {{ d.email }} y tel: {{ d.telefono }}<br/>
				{{ d.genero }}<br/><br/><br/><br/>
				<span class="descripcion">{{ d.descripcion }}</span><br/><br/>
				<form method="post" action="index.php">
					<input type="hidden" name="id_usuario" value="{{ d.id_usuario }}" />
					<button class="boton_galeria" type="submit" name="galeria"></button>
				</form>


			</div>
		{% endfor %}
		
		{% else %}
			<h1 class="vacio">No hay comentarios todavía.</h1>
		{% endif %}
		
		
		<form class="ckeditor" method="post" action="index.php" enctype="multipart/form-data">
			<input type="hidden" name="id_tema" value="{{ id_tema }}" />
			<input type="hidden" name="usuario" value="{{ usuario }}" />
			<textarea name="ckeditor"></textarea>
			<button type="submit" name="comentar" class="botonEnviar">--- Enviar ---</button>
		</form>
		
		<br><br><br><br><br>
		<div class="footer"><div class="contenedor">
			<div class="digg"></div>
			<div class="dribbble"></div>
			<div class="facebook"></div>
			
			<div class="friendfeed"></div>
			<div class="google-plus"></div>
			<div class="rss"></div>
			
			<div class="stumbleupon"></div>
			<div class="twitter-bird"></div>
			<div class="viemo"></div>
			<div class="youtube"></div>
			<p class="contacto">socializadorsocial@gmail.com</p>
		</div></div>
        <script>
            CKEDITOR.replace( 'ckeditor' );
        </script>
		<script>
			$(document).ready(function () {

				$('#foros').popup({
				  transition: 'all 0.8s',
				  scrolllock: true
				});

				$('#chat').popup({
					transition: 'all 0.8s',
					scrolllock: true
				});

				$('#nuevo_foro').popup({
					pagecontainer: '.container',
					transition: 'all 0.3s'
				});
				
				$('#amigos').popup({
				  transition: 'all 0.8s',
				  scrolllock: true
				});

			});
		</script>
		<script>
			var options = {
				valueNames: [ 'titulo' ]
			};
			var userList = new List('foros', options);
		</script>
		<script src="desplegable/previsualizar.js"></script>
	</body>
</html>