<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>{{ titulo }}</title>
<link rel="shortcut icon" href="favicon.png" type="image/png" />
<script language="javascript">
	function accionar(){
		document.formulario.submit();
	}
</script>
		<script src="buscar/list.js"></script> <!-- Buscar -->
		<link rel="stylesheet" href="buscar/list.css" /> <!-- Buscar -->
		
<!-- NavBar -->
		
		<link rel="stylesheet" href="navbar/style.css">
		
		
		<script>
			$(function() {
				var pull 		= $('#pull');
					menu 		= $('nav ul');
					menuHeight	= menu.height();

				$(pull).on('click', function(e) {
					e.preventDefault();
					menu.slideToggle();
				});

				$(window).resize(function(){
					var w = $(window).width();
					if(w > 320 && menu.is(':hidden')) {
						menu.removeAttr('style');
					}
				});
			});
		</script>
		
		
		<!-- Fin de NavBar -->
<style type="text/css">
<!--
html,body{height:100%}
body {margin:0; padding:0; background:#333 url(galeria/sw_page_bg.png); overflow:hidden; font-family:Helvetica, Arial, sans-serif; font-size:16px;}
/* custom fonts */
@font-face {
	font-family: 'eurof55-webfont';
	src: url('galeria/fonts/eurof55-webfont.eot');
	src: local('☺'), url('galeria/fonts/eurof55-webfont.woff') format('woff'), url('galeria/fonts/eurof55-webfont.ttf') format('truetype'), url('galeria/fonts/eurof55-webfont.svg#webfont8xigBfG2') format('svg');
}
@font-face {
	font-family: 'eurof35-webfont';
	src: url('galeria/fonts/eurof35-webfont.eot');
	src: local('☺'), url('galeria/fonts/eurof35-webfont.woff') format('woff'), url('galeria/fonts/eurof35-webfont.ttf') format('truetype'), url('galeria/fonts/eurof35-webfont.svg#webfont8xigBfG2') format('svg');
}
@font-face {
	font-family: 'graublauweb-webfont';
	src: url('galeria/fonts/graublauweb-webfont.eot');
	src: local('☺'), url('galeria/fonts/graublauweb-webfont.woff') format('woff'), url('galeria/fonts/graublauweb-webfont.ttf') format('truetype'), url('galeria/fonts/graublauweb-webfont.svg#webfont8xigBfG2') format('svg');
}
.clear{clear:both;}
a:link,a:visited,a:hover,button:link,button:visited,button:link{color:#ddd;}
a:hover,button:hover{color:#fff; text-decoration:none;}
#bg{position:fixed; left:585px; top:0; width:100%; height:100%;}
#bgimg{display:none; cursor:pointer; -ms-interpolation-mode: bicubic; max-width: 1680px; max-height: 650px;} /* special IE fix for resized images */
#preloader{position:absolute; z-index:2; width:140px; padding:20px; top:70px; left:50px; background:#000; color:#666; font-family:graublauweb-webfont, Helvetica, Arial, sans-serif; font-size:16px; -moz-border-radius:5px; -khtml-border-radius:5px; -webkit-border-radius:5px; border-radius:5px;}
#preloader img{margin-right:20px;}
#toolbar{display:inline-block; padding:4px 15px; margin:10px 15px; background:#262626 url(galeria/sw_btn_bg.png) repeat-x; -moz-border-radius:8px; -khtml-border-radius:8px; -webkit-border-radius:8px; border-radius:8px; font-family:graublauweb-webfont, Helvetica, Arial, sans-serif; font-size:12px; color:#fff; cursor:pointer;}
#outer_container{position:relative; margin:0; width:700px; padding:0 100px 0 0; z-index:2; background:url(galeria/empty.gif);} /* fucking IE needs a background value to understand hover area */
#customScrollBox{position:relative; overflow:hidden; background:url(galeria/sw_l_bg.png) repeat-y; top:-7px;}
#customScrollBox .container{position:relative; width:585px; top:0; float:left; top:17px;}
#customScrollBox .content{clear:both;}
#customScrollBox .content h1{padding:5px; margin:10px; color:#fff; font-family:eurof55-webfont, Helvetica, Arial, sans-serif; font-size:48px;}
#customScrollBox .content h2{padding:5px; margin:10px 10px 0 10px; color:#fff; font-family:eurof35-webfont, Helvetica, Arial, sans-serif; font-size:24px;}
#customScrollBox .content p{padding:5px; margin:0 10px 10px 10px; color:#ddd; font-family:graublauweb-webfont, Helvetica, Arial, sans-serif; line-height:26px;}
.light{font-family:eurof35-webfont, Helvetica, Arial, sans-serif;}
.grey{color:#999;}
.lightgrey{color:#ddd;}
.s36{font-size:36px;}
.s24{font-size:24px;}
#customScrollBox a.thumb_link,#customScrollBox button.thumb_link{position:relative; margin:0 0 1px 1px; display:block; float:left;}
#customScrollBox img{border:none;}
#customScrollBox a.thumb_link .selected,#customScrollBox button.thumb_link .selected{position:absolute; top:0; left:0; width:145px; height:91px; background:url(galeria/sw_thumb_selected.png) no-repeat; display:none;}
#dragger_container{position:relative; width:30px; height:580px; float:left; margin:10px 0 0 0; background:url(galeria/sw_dragger_bg.png) repeat-y center;}
#dragger{position:absolute; width:30px; height:59px; background:url(galeria/round_custom_scrollbar_bg.png) no-repeat center center; cursor:pointer;}
#arrow_indicator{position:absolute; z-index:1; width:50px; padding:10px; top:50%; margin-top:-25px; left:20px; background:url(galeria/sw_transparent_black_bg.png); -moz-border-radius:5px; -khtml-border-radius:5px; -webkit-border-radius:5px; border-radius:5px; display:none;}
#nextimage_tip{position:fixed; z-index:1; padding:0 20px; line-height:40px; color:#fff; height:40px; top:50%; margin-top:-20px; right:20px; background:url(galeria/sw_transparent_black_bg.png); -moz-border-radius:5px; -khtml-border-radius:5px; -webkit-border-radius:5px; border-radius:5px; display:none; font-family:graublauweb-webfont, Helvetica, Arial, sans-serif;}
.with_border{border:1px solid #000;}
.with_shadow{-moz-box-shadow:0 0 40px #000; -webkit-box-shadow:0 0 40px #000; box-shadow:0 0 40px #000;}
.thumb:hover{-webkit-box-shadow: 1px 0px 40px 0px rgba(50, 50, 50, 0.78)!important; -moz-box-shadow: 1px 0px 40px 0px rgba(50, 50, 50, 0.78)!important;box-shadow: 1px 0px 40px 0px rgba(50, 50, 50, 0.78)!important;}
.thumb_link:hover{-webkit-box-shadow: 1px 0px 40px 0px rgba(50, 50, 50, 0.78)!important; -moz-box-shadow: 1px 0px 40px 0px rgba(50, 50, 50, 0.78)!important;box-shadow: 1px 0px 40px 0px rgba(50, 50, 50, 0.78)!important;}
.thumb_sin_imagen{margin-left: 10px;}
#borrable{
background-image: url(img/borrar.png);
background-size: 100% 100%;
background-repeat: no-repeat;
height: 80%;
width: 80%;
position: absolute;
top:0;
right:0;

border: 0px solid;
background-color: rgba(255,255,255,0);
color: rgba(255,255,255,0);
cursor:pointer
}
#contenedorBorrar{
position:relative;
}
#boton_borrar_imagen{
background: none;
outline: 0;
border: 0;
padding: 0px 0px!important;
}
hr.separacion_amigos{
width: 100%;
}
select.desplegando {
   -webkit-appearance: button;
   -webkit-border-radius: 2px;
   -webkit-box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.1);
   -webkit-padding-end: 20px;
   -webkit-padding-start: 2px;
   -webkit-user-select: none;
   background-image: url(img/flecha.png);
   background-position: 97% center;
   background-repeat: no-repeat;
   background-color: #6ccaa5;

   color: #555;
   font-size: inherit;
   margin: 20px;
   overflow: hidden;
   padding: 5px 10px;
   text-overflow: ellipsis;
   white-space: nowrap;
   width: 300px;
   margin-bottom: 5px;
   
   
    position: relative;
    cursor: pointer !important;

    padding: 10px 20px;
    border: 2px solid transparent;
    color: #fff;
    border-radius: 2px;
	font-size: 16px;
	font-family: Helvetica, Arial, sans-serif;
	font-weight: bold;
	border: 2px solid #6ccaa5;
}
select.desplegando:hover {
color: #6ccaa5;
border: 2px solid #6ccaa5;
background-image: url(img/flecha.png);
background-color: #ffffff;
}
select.desplegando option{
color: #000000;
background-image: url(img/flecha.png), -webkit-linear-gradient(#6ccaa5, #399772 40%, #000000);
background-color: #6ccaa5;
font-weight: bold;
font-size: 30px;
}
.imagen_privado_amigo{
margin-left: 60px;
margin-right: 200px;
margin-bottom: 20px;
margin-top: 20px;
}
.solo_amigos{
margin-bottom: 20px;
}
.comunicado{
padding-left: 60px;
padding-right: 70px;
font-weight: bold;
font-size: 20px;
}
.sin_efecto:hover{-webkit-box-shadow: 0px 0px 0px 0px rgba(0, 0, 0, 0)!important; -moz-box-shadow: 0px 0px 0px 0px rgba(0, 0, 0, 0)!important;box-shadow: 0px 0px 0px 0px rgba(0, 0, 0, 0)!important;}
form.clearfix{
height: 32px !important;
}
-->
</style>
<script>
jQuery(document).ready(function ($) {
 $('#files').before("<span class='upload'>");
 $('#files').after("</span>");
});
</script>




	<!-- jQuery -->
	<script src="jquery/jquery-1.8.2.min.js"></script>

	<!-- ToolTip styles -->
	<link rel="stylesheet" href="desplegable/tooltip.css" />
	
    <!-- jQuery Popup Overlay -->
    <script src="desplegable/jquery.popupoverlay.js"></script>
		
	<link rel="stylesheet" href="desplegable/desplegable.css" />
		
		
<script src="galeria/jquery-ui.min.js"></script>
<script type="text/javascript" src="galeria/jquery.easing.1.3.js"></script>
<script type="text/javascript" src="galeria/jquery.mousewheel.min.js"></script>

		



	</head>
	<body>
<!-- Fade -->
<div id="foros" class="cuadro_desplegable" style="width:57%;">
<h4>Foro</h4><br />
<input class="search" placeholder="Filtrar foros" />
<button class="sort" data-sort="name">Ordenar</button>
<div id="users" class="list" style="height:367px; overflow:auto;">
{% for d in temas %}
<pre class="principal">
{% if d.imagen %}<img src="imagenes/{{ d.imagen }}" class="imagen" alt="{{ d.titulo }}" />{% else %}<img src="img/sin_imagen.jpg" alt="Sin imagen" class="imagen" />{% endif %}
<strong class="titulo">{{ d.titulo }}</strong>
<code>
{{ d.descripcion }}
</code>
<form class="acceder" method="post" action="index.php">
<input type="hidden" name="id_tema" value="{{ d.id_tema }}" />
<button type="submit"  name="ver_tema" />
</form></pre>
{% endfor %}
</div>




<div class="tooltip bottom green">
    <a class="foros_cerrar nuevo_foro_abrir"><img src="desplegable/mas.png" width="25" height="25" /></a>
<div class="tooltip-inner">Nueva entrada
<div class="tooltip-angle">
<div class="tooltip-angle-inner">
</div>
</div>
</div>
</div>




<div class="tooltip bottom red">
    <a class="foros_cerrar"><img src="desplegable/salir.ico" width="25" height="25" /></a>
<div class="tooltip-inner">Cerrar
<div class="tooltip-angle">
<div class="tooltip-angle-inner">
</div>
</div>
</div>
</div>


</div>

<!-- fadeandscale -->

<div id="nuevo_foro" class="cuadro_desplegable" style="width:37%;">
    <h4>Nueva entrada</h4>
	<hr id="separacion" />
	<div class="vista_previa">
		<output id="list"></output>
	</div>
	<form method="post" action="index.php" enctype="multipart/form-data">
	<p class="strong">Titulo.: </p>
	<input name="titulo" type="text" /><br /><br />
	<p class="strong">Descripción.:</p>
	<textarea name="descripcion" rows="5" cols="38"></textarea>
	<br /><br />
	<span class="upload"><input type="file" id="files" name="imagen"></span>
	<br /><br /><br />
	<!-- <input id="bootstrap" type="file" id="files" name="files[]" /> id="input-file" -->
    
	<button name="nuevo_tema" type="submit" class="boton">Guardar</button>
    <button class="nuevo_foro_cerrar boton">Cerrar</button>
	</form>
</div>


<div id="chat" class="cuadro_desplegable" style="width:34%;">
	<form method="post" action="index.php">
		<input type="text" class="texto_sala" name="sala" placeholder="Inserta el número" />
		<button type="submit" class="boton_sala" name="ir_sala"></button>
		<input type="submit" name="chat" value="Nueva sala de chat" class="boton_chat" />
	</form>
</div>



<div id="amigos" class="cuadro_desplegable" style="width:34%;">
	<form method="post" action="index.php">
		<p>Agregar amigo: </p><input type="text" name="insertar_amigo" class="insertar_amigo" />
		<button class="boton" name="agregar_amigo">Guardar</button>
		<button class="amigos_cerrar boton">Cerrar</button>
		<input type="hidden" name="recargar_galeria" />
		<input type="hidden" name="id_usuario" value="{{ id_usuario }}" />
		{% if borrar %}
			<input type="hidden" name="seguirBorrando" />
		{% endif %}
		<br /><hr class="separacion_amigos" />
		{% for g in amigos_usuario %}
			<div class="lista_amigos principal">
				{{ g.usuario }}
			</div>
			<input type="submit" name="borrar_amigo" value="{{ g.id_relacion }}" class="eliminar_amigo" />
		{% else %}
			Ja, ja no tienes amigos.
		{% endfor %}
	</form>
</div>




<form class="clearfix" method="post" action="index.php">
		<nav class="clearfix">
			<ul class="clearfix">
				{% for d in datos_usuario %}
				<li><button type="submit" name="datos_personales" value="{{ d.id_usuario }}">
					{% if d.avatar %}
						<img src="galerias/fotos_{{ d.usuario }}/avatar/{{ d.avatar }}" alt="Perfil" width="50" height="50" />
					{% endif %}
					<div class="texto">{{ d.usuario }}</div>
				</button></li>
				<li>
					<input type="hidden" name="id_usuario" value="{{ d.id_usuario }}" />
					<input name="galeria" type="submit" value="Galeria" />
				</li>
				{% endfor %}
				<li><a class="foros_abrir">Foro</a></li>
				<li><a class="chat_abrir">Chat</a></li>
				<li><a class="amigos_abrir">Amigos</a></li>
				<li><input name="cerrar" type="submit" value="Salir" /></li>
			</ul>
			<a href="#" id="pull">Menu</a>
		</nav>
</form>


<div id="outer_container">
<div id="customScrollBox">
	<div class="container">
    	<div class="content">
        	<h1 style="text-transform: uppercase;">GALERIA<span class="lightgrey">{{ usuarioGaleria }}</span> <br /><span class="light"><span class="grey"><span class="s36">GALERÍA DE IMAGENES DE {{ usuarioGaleria }}</span></span></span></h1>
			{% if usuario == usuarioGaleria %}
				<form method="post" name="formulario" action="index.php" enctype="multipart/form-data">
					<input type="hidden" value="{{ id_usuario }}" name="id_usuario"></input>
					<span class="uploader">
						<input type="file" id="subir" name="imagen"></input>
					</span>
					{% if borrar %}
						<button id="alterarImagen" name="galeria">Normal</button>
						<input type="hidden" name="continuar" />
					{% else %}
						<button value="Borrar" id="alterarImagen" name="modoBorrar">Borrar</button>
					{% endif %}
					<button value="Enviar" id="alterarImagen" name="subirImagenGaleria">Enviar</button>
					<br/>
					<select class="desplegando" onChange="accionar();" name="tipo_galeria">
						{% for s in datos_usuario %}
							<option value="" data-placeholder="false">{{ s.tipo_galeria }}</option>
						{% endfor %}
						<option value="Publica">Galería publica</option>
						<option value="Privada">Galería privada</option>
						<option value="Amigos">Solo amigos</option>
					</select>
					
					
					
					
					
				</form>
			{% endif %}
			<br/>
			<div id="toolbar"></div><div class="clear"></div>
			<!-- Cargar galería -->
			<form method="post" action="index.php">
			{% if usuario == usuarioGaleria or tipo_galeria == 'Publica' %}
				<!-- -------------------------------------- -->
				{% for d in galeria %}
					{% if d.tamano %}
						{% if borrar %}
							<button id="boton_borrar_imagen" value="{{ d.id_galeria }}" name="borrar_imagen" class="thumb_link">
								<span class="selected"></span>
								<div id="contenedorBorrar">
									<img src="galerias/fotos_{{ d.carpeta}}/{{ d.imagen}}" title="{{ d.imagen}}" alt="{{ d.imagen}}" class="thumb" height="182" width="291" />
									<div id="borrable" />
								</div>
							</button>
						{% else %}
							<a href="galerias/fotos_{{ d.carpeta}}/{{ d.imagen}}" class="thumb_link">
								<span class="selected"></span>
								<img src="galerias/fotos_{{ d.carpeta}}/{{ d.imagen}}" title="{{ d.imagen}}" alt="{{ d.imagen}}" class="thumb" height="182" width="291" />
							</a>
						{% endif %}
					{% else %}
						{% if borrar %}
							<button id="boton_borrar_imagen" value="{{ d.id_galeria }}" name="borrar_imagen" class="thumb_link">
								<span class="selected"></span>
								<div id="contenedorBorrar">
									<img src="galerias/fotos_{{ d.carpeta}}/{{ d.imagen}}" title="{{ d.imagen}}" alt="{{ d.imagen}}" class="thumb" height="91" width="145" />
									<div id="borrable" />
								</div>
							</button>
						{% else %}
							<a href="galerias/fotos_{{ d.carpeta}}/{{ d.imagen}}" class="thumb_link">
								<span class="selected"></span>
								<img src="galerias/fotos_{{ d.carpeta}}/{{ d.imagen}}" title="{{ d.imagen}}" alt="{{ d.imagen}}" class="thumb" height="91" width="145" />
							</a>
						{% endif %}
					<!--
						height="182" width="291"
						height="91" width="145"
					-->
					{% endif %}
				{% else %}
					<a href="galeria/nodisponible.jpg" class="thumb_link">
						<span class="selected"></span>
						<img src="galeria/nodisponible.jpg" title="Sin imagen" alt="Sin imagen" class="thumb_sin_imagen" height="364" width="562" />
					</a>
				{% endfor %}
				<!-- -------------------------------------- -->
			{% elseif tipo_galeria == 'Privada' %}
				<a href="img/privado4.jpg" class="thumb_link sin_efecto">
					<span class="selected"></span>
					<img src="img/privado4.jpg" title="Galería privada" alt="Galería privada" class="imagen_privado_amigo" height="364" width="450" />
				</a>
				<div class="comunicado">Esta galería es privada.</div><br/>
			{% else %}
				{% if amigo %}
					<!-- -------------------------------------- -->
					{% for d in galeria %}
						{% if d.tamano %}
							{% if borrar %}
								<button id="boton_borrar_imagen" value="{{ d.id_galeria }}" name="borrar_imagen" class="thumb_link">
									<span class="selected"></span>
									<div id="contenedorBorrar">
										<img src="galerias/fotos_{{ d.carpeta}}/{{ d.imagen}}" title="{{ d.imagen}}" alt="{{ d.imagen}}" class="thumb" height="182" width="291" />
										<div id="borrable" />
									</div>
								</button>
							{% else %}
								<a href="galerias/fotos_{{ d.carpeta}}/{{ d.imagen}}" class="thumb_link">
									<span class="selected"></span>
									<img src="galerias/fotos_{{ d.carpeta}}/{{ d.imagen}}" title="{{ d.imagen}}" alt="{{ d.imagen}}" class="thumb" height="182" width="291" />
								</a>
							{% endif %}
						{% else %}
							{% if borrar %}
								<button id="boton_borrar_imagen" value="{{ d.id_galeria }}" name="borrar_imagen" class="thumb_link">
									<span class="selected"></span>
									<div id="contenedorBorrar">
										<img src="galerias/fotos_{{ d.carpeta}}/{{ d.imagen}}" title="{{ d.imagen}}" alt="{{ d.imagen}}" class="thumb" height="91" width="145" />
										<div id="borrable" />
									</div>
								</button>
							{% else %}
								<a href="galerias/fotos_{{ d.carpeta}}/{{ d.imagen}}" class="thumb_link">
									<span class="selected"></span>
									<img src="galerias/fotos_{{ d.carpeta}}/{{ d.imagen}}" title="{{ d.imagen}}" alt="{{ d.imagen}}" class="thumb" height="91" width="145" />
								</a>
							{% endif %}
						<!--
							height="182" width="291"
							height="91" width="145"
						-->
						{% endif %}
					{% else %}
						<a href="galeria/nodisponible.jpg" class="thumb_link">
							<span class="selected"></span>
							<img src="galeria/nodisponible.jpg" title="Sin imagen" alt="Sin imagen" class="thumb_sin_imagen" height="364" width="562" />
						</a>
					{% endfor %}
					<!-- -------------------------------------- -->
				{% else %}
					<a href="galeria/nodisponible.jpg" class="thumb_link sin_efecto">
						<span class="selected"></span>
						<img src="img/amigo.png" title="Galería privada" alt="Galería privada" class="imagen_privado_amigo solo_amigos" height="364" width="450" />
					</a>
					<div class="comunicado">Este usuario no te tiene agregado como amigo y no puedes ver la galería.</div><br/>
				{% endif %}
			{% endif %}
			</form>
			<!-- Fin cargar galería -->
			<p class="clear"></p>
        </div>
	</div>
    <div id="dragger_container"><div id="dragger"></div></div>
</div>
</div>
<div id="bg">
	{% for d in galeria %}
		<img src="galerias/fotos_{{ usuarioGaleria }}/{{ portada }}" title="Portada" id="bgimg" />
	{% else %}
		<img src="galeria/nodisponible.jpg" title="Portada" id="bgimg" />
	{% endfor %}
	<div id="preloader"><img src="galeria/ajax-loader_dark.gif" width="32" height="32" align="absmiddle" />CARGAR...</div>
    <div id="arrow_indicator"><img src="galeria/sw_arrow_indicator.png" width="50" height="50"  /></div>
    <div id="nextimage_tip">Siguiente imagen</div>
</div>
<script>
	//set default view mode
	$defaultViewMode="full"; //full (fullscreen background), fit (fit to window), original (no scale)
	//cache vars
	$bg=$("#bg");
	$bgimg=$("#bg #bgimg");
	$preloader=$("#preloader");
	$outer_container=$("#outer_container");
	$outer_container_a=$("#outer_container a.thumb_link");
	$toolbar=$("#toolbar");
	$nextimage_tip=$("#nextimage_tip");
	
$(window).load(function() {
	$toolbar.data("imageViewMode",$defaultViewMode); //default view mode
	ImageViewMode($toolbar.data("imageViewMode"));
	//cache vars
	$customScrollBox=$("#customScrollBox");
	$customScrollBox_container=$("#customScrollBox .container");
	$customScrollBox_content=$("#customScrollBox .content");
	$dragger_container=$("#dragger_container");
	$dragger=$("#dragger");
	
	CustomScroller();
	
	function CustomScroller(){
		outerMargin=0;
		innerMargin=20;
		$customScrollBox.height($(window).height()-outerMargin);
		$dragger_container.height($(window).height()-innerMargin);
		visibleHeight=$(window).height()-outerMargin;
		if($customScrollBox_container.height()>visibleHeight){ //custom scroll depends on content height
			$dragger_container,$dragger.css("display","block");
			totalContent=$customScrollBox_content.height();
			draggerContainerHeight=$(window).height()-innerMargin;
			animSpeed=400; //animation speed
			easeType="easeOutCirc"; //easing type
			bottomSpace=1.05; //bottom scrolling space
			targY=0;
			draggerHeight=$dragger.height();
			$dragger.draggable({ 
				axis: "y", 
				containment: "parent", 
				drag: function(event, ui) {
					Scroll();
				}, 
				stop: function(event, ui) {
					DraggerOut();
				}
			});

			//scrollbar click
			$dragger_container.click(function(e) {
				var mouseCoord=(e.pageY - $(this).offset().top);
				var targetPos=mouseCoord+$dragger.height();
				if(targetPos<draggerContainerHeight){
					$dragger.css("top",mouseCoord);
					Scroll();
				} else {
					$dragger.css("top",draggerContainerHeight-$dragger.height());
					Scroll();
				}
			});

			//mousewheel
			$(function($) {
				$customScrollBox.bind("mousewheel", function(event, delta) {
					vel = Math.abs(delta*10);
					$dragger.css("top", $dragger.position().top-(delta*vel));
					Scroll();
					if($dragger.position().top<0){
						$dragger.css("top", 0);
						$customScrollBox_container.stop();
						Scroll();
					}
					if($dragger.position().top>draggerContainerHeight-$dragger.height()){
						$dragger.css("top", draggerContainerHeight-$dragger.height());
						$customScrollBox_container.stop();
						Scroll();
					}
					return false;
				});
			});

			function Scroll(){
				var scrollAmount=(totalContent-(visibleHeight/bottomSpace))/(draggerContainerHeight-draggerHeight);
				var draggerY=$dragger.position().top;
				targY=-draggerY*scrollAmount;
				var thePos=$customScrollBox_container.position().top-targY;
				$customScrollBox_container.stop().animate({top: "-="+thePos}, animSpeed, easeType); //with easing
			}

			//dragger hover
			$dragger.mouseup(function(){
				DraggerOut();
			}).mousedown(function(){
				DraggerOver();
			});

			function DraggerOver(){
				$dragger.css("background", "url(galeria/round_custom_scrollbar_bg_over.png)");
			}

			function DraggerOut(){
				$dragger.css("background", "url(galeria/round_custom_scrollbar_bg.png)");
			}
		} else { //hide custom scrollbar if content is short
			$dragger,$dragger_container.css("display","none");
		}
	}

	//resize browser window functions
	$(window).resize(function() {
		FullScreenBackground("#bgimg"); //scale bg image
		$dragger.css("top",0); //reset content scroll
		$customScrollBox_container.css("top",0);
		$customScrollBox.unbind("mousewheel");
		CustomScroller();
	});
	
	LargeImageLoad($bgimg);
});
	
	//loading bg image
	$bgimg.load(function() {
		LargeImageLoad($(this));
	});
	
	function LargeImageLoad($this){
		$preloader.fadeOut("fast"); //hide preloader
		$this.removeAttr("width").removeAttr("height").css({ width: "", height: "" }); //lose all previous dimensions in order to rescale new image data
		$bg.data("originalImageWidth",$this.width()).data("originalImageHeight",$this.height());
		if($bg.data("newTitle")){
			$this.attr("title",$bg.data("newTitle")); //set new image title attribute
		}
		FullScreenBackground($this); //scale new image
		$bg.data("nextImage",$($outer_container.data("selectedThumb")).next().attr("href")); //get and store next image
		if(typeof itemIndex!="undefined"){
			if(itemIndex==lastItemIndex){ //check if it is the last image
				$bg.data("lastImageReached","Y");
				$bg.data("nextImage",$outer_container_a.first().attr("href")); //get and store next image
			} else {
				$bg.data("lastImageReached","N");
			}
		} else {
			$bg.data("lastImageReached","N");
		}
		$this.fadeIn("slow"); //fadein background image
		if($bg.data("nextImage") || $bg.data("lastImageReached")=="Y"){ //don't close thumbs pane on 1st load
			SlidePanels("close"); //close the left pane
		}
		NextImageTip();
	}

	//slide in/out left pane
	$outer_container.hover(
		function(){ //mouse over
			SlidePanels("open");
		},
		function(){ //mouse out
			SlidePanels("close");
		}
	);
	
	//Clicking on thumbnail changes the background image
	$outer_container_a.click(function(event){
		event.preventDefault();
		var $this=this;
		$bgimg.css("display","none");
		$preloader.fadeIn("fast"); //show preloader
		//style clicked thumbnail
		$outer_container_a.each(function() {
    		$(this).children(".selected").css("display","none");
  		});
		$(this).children(".selected").css("display","block");
		//get and store next image and selected thumb 
		$outer_container.data("selectedThumb",$this); 
		$bg.data("nextImage",$(this).next().attr("href")); 	
		$bg.data("newTitle",$(this).children("img").attr("title")); //get and store new image title attribute
		itemIndex=getIndex($this); //get clicked item index
		lastItemIndex=($outer_container_a.length)-1; //get last item index
		$bgimg.attr("src", "").attr("src", $this); //switch image
	}); 

	//clicking on large image loads the next one
	$bgimg.click(function(event){
		var $this=$(this);
		if($bg.data("nextImage")){ //if next image data is stored
			$this.css("display","none");
			$preloader.fadeIn("fast"); //show preloader
			$($outer_container.data("selectedThumb")).children(".selected").css("display","none"); //deselect thumb
			if($bg.data("lastImageReached")!="Y"){
				$($outer_container.data("selectedThumb")).next().children(".selected").css("display","block"); //select new thumb
			} else {
				$outer_container_a.first().children(".selected").css("display","block"); //select new thumb - first
			}
			//store new selected thumb
			var selThumb=$outer_container.data("selectedThumb");
			if($bg.data("lastImageReached")!="Y"){
				$outer_container.data("selectedThumb",$(selThumb).next()); 
			} else {
				$outer_container.data("selectedThumb",$outer_container_a.first()); 
			}
			$bg.data("newTitle",$($outer_container.data("selectedThumb")).children("img").attr("title")); //get and store new image title attribute
			if($bg.data("lastImageReached")!="Y"){
				itemIndex++;
			} else {
				itemIndex=0;
			}
			$this.attr("src", "").attr("src", $bg.data("nextImage")); //switch image
		}
	});
	
	//function to get element index (fuck you IE!)
	function getIndex(theItem){
		for ( var i = 0, length = $outer_container_a.length; i < length; i++ ) {
			if ( $outer_container_a[i] === theItem ) {
				return i;
			}
		}
	}
	
	//toolbar (image view mode button) hover
	$toolbar.hover(
		function(){ //mouse over
			$(this).stop().fadeTo("fast",1);
		},
		function(){ //mouse out
			$(this).stop().fadeTo("fast",0.8);
		}
	); 
	$toolbar.stop().fadeTo("fast",0.8); //set its original state
	
	//Clicking on toolbar changes the image view mode
	$toolbar.click(function(event){
		if($toolbar.data("imageViewMode")=="full"){
			ImageViewMode("fit");
		} else if($toolbar.data("imageViewMode")=="fit") {
			ImageViewMode("original");
		} else if($toolbar.data("imageViewMode")=="original"){
			ImageViewMode("full");
		}
	});

	//next image balloon tip
	function NextImageTip(){
		if($bg.data("nextImage")){ //check if this is the first image
			$nextimage_tip.stop().css("right",20).fadeIn("fast").fadeOut(2000,"easeInExpo",function(){$nextimage_tip.css("right",$(window).width());});
		}
	}

	//slide in/out left pane function
	function SlidePanels(action){
		var speed=900;
		var easing="easeInOutExpo";
		if(action=="open"){
			$("#arrow_indicator").fadeTo("fast",0);
			$outer_container.stop().animate({left: 0}, speed,easing);
			$bg.stop().animate({left: 585}, speed,easing);
		} else {
			$outer_container.stop().animate({left: -710}, speed,easing);
			$bg.stop().animate({left: 0}, speed,easing,function(){$("#arrow_indicator").fadeTo("fast",1);});
		}
	}

//Image scale function
function FullScreenBackground(theItem){
	var winWidth=$(window).width();
	var winHeight=$(window).height();
	var imageWidth=$(theItem).width();
	var imageHeight=$(theItem).height();
	if($toolbar.data("imageViewMode")!="original"){ //scale
		$(theItem).removeClass("with_border").removeClass("with_shadow"); //remove extra styles of orininal view mode
		var picHeight = imageHeight / imageWidth;
		var picWidth = imageWidth / imageHeight;
		if($toolbar.data("imageViewMode")!="fit"){ //image view mode: full
			if ((winHeight / winWidth) < picHeight) {
				$(theItem).css("width",winWidth).css("height",picHeight*winWidth);
			} else {
				$(theItem).css("height",winHeight).css("width",picWidth*winHeight);
			};
		} else { //image view mode: fit
			if ((winHeight / winWidth) > picHeight) {
				$(theItem).css("width",winWidth).css("height",picHeight*winWidth);
			} else {
				$(theItem).css("height",winHeight).css("width",picWidth*winHeight);
			};
		}
		//center it
		$(theItem).css("margin-left",((winWidth - $(theItem).width())/2)).css("margin-top",((winHeight - $(theItem).height())/2));
	} else { //no scale
		//add extra styles for orininal view mode
		$(theItem).addClass("with_border").addClass("with_shadow");
		//set original dimensions
		$(theItem).css("width",$bg.data("originalImageWidth")).css("height",$bg.data("originalImageHeight"));
		//center it
		$(theItem).css("margin-left",((winWidth-$(theItem).outerWidth())/2)).css("margin-top",((winHeight-$(theItem).outerHeight())/2));
	}
}

//image view mode function - full or fit
function ImageViewMode(theMode){
	$toolbar.data("imageViewMode", theMode); //store new mode
	FullScreenBackground($bgimg); //scale bg image
	//re-style button
	if(theMode=="full"){
		$toolbar.html("<span class='lightgrey'>Tipo de vista &rsaquo;</span> Completo");
	} else if(theMode=="fit") {
		$toolbar.html("<span class='lightgrey'>Tipo de vista &rsaquo;</span> Ajustado");
	} else {
		$toolbar.html("<span class='lightgrey'>Tipo de vista &rsaquo;</span> Original");
	}
}

//preload script images
var images=["galeria/ajax-loader_dark.gif","galeria/round_custom_scrollbar_bg_over.png"];
$.each(images, function(i) {
  images[i] = new Image();
  images[i].src = this;
});
</script>
<script>
jQuery(document).ready(function ($) {

 $('span.upload').prepend("<b>Subir imagen</b>");  //Your button text
 $('span.upload').append("<span class='filename'></span>");  //The file name 

/* Note: you can put this anywhere you want, i've put this withing the button,
for example. You are free to experiment */

$('#files').change(function () {
   var filename = $('input[type=file]').val().replace(/C:\\fakepath\\/i, '')
/* The above line will just take up the filename, as described in http://stackoverflow.com/a/6365883/2064231 */

    $('span.filename').html(" - " + filename); 

/* '$(this).val' can be use instead of 'filename' (without quotes) to get the complete url, though the complete url will be something like C:/fakeurl/filename.ext */
});
});
jQuery(document).ready(function ($) {

 $('span.uploader').prepend("<b>Subir imagen</b>");  //Your button text
 $('span.uploader').append("<span class='filenamer'></span>");  //The file name 

/* Note: you can put this anywhere you want, i've put this withing the button,
for example. You are free to experiment */

$('#subir').change(function () {
   var filenamer = $('#subir').val().replace(/C:\\fakepath\\/i, '')
/* The above line will just take up the filename, as described in http://stackoverflow.com/a/6365883/2064231 */

    $('span.filenamer').html(" - " + filenamer); 

/* '$(this).val' can be use instead of 'filename' (without quotes) to get the complete url, though the complete url will be something like C:/fakeurl/filename.ext */
});
});
</script>
<style>
.upload, .uploader { 
    margin-bottom:20px;
    position: relative;
    cursor: pointer !important;
    background: #6ccaa5;
    padding: 10px 20px;
    border: 2px solid transparent;
    color: #fff;
    border-radius:2px;
	margin-left: 20px;
	margin-top: 120px!important;
}
.upload { 
	margin-left: 2px;
}

.upload:hover, .uploader:hover {background: #fff;
padding: 10px 20px;
border: 2px solid #6ccaa5;
color: #6ccaa5;
}
   
#files, #subir {
	cursor: pointer;
	display: block;
	position:absolute !important;
	top:0 !important;
	left: 0 !important;
    /* start of transparency styles */
	opacity:0;
	-moz-opacity:0;
	filter:alpha(opacity:0);
	/* end of transparency styles */
	background: red;
	z-index:2; /* bring the real upload interactivity up front */
	width:100%;
	height: 100%;
}
.upload:hover #files, .uploader:hover #subir{
	display: block;
	opacity:0;
	-moz-opacity:0;
}
#alterarImagen{
	margin-bottom: 5px;
    position: relative;
    cursor: pointer !important;
    background: #6ccaa5;
    padding: 10px 20px;
    border: 2px solid transparent;
    color: #fff;
    border-radius: 2px;
	margin-left: 20px;
	margin-top: 25px!important;
	font-size: 16px;
	font-family: Helvetica, Arial, sans-serif;
	font-weight: bold;
}
#alterarImagen:hover {background: #fff;
padding: 10px 20px;
border: 2px solid #6ccaa5;
color: #6ccaa5;
}
</style>
<script>
$(document).ready(function () {

    $('#foros').popup({
      transition: 'all 0.8s',
      scrolllock: true
    });

	$('#chat').popup({
      transition: 'all 0.8s',
      scrolllock: true
    });

    $('#nuevo_foro').popup({
        pagecontainer: '.container',
        transition: 'all 0.3s'
    });
	
	$('#amigos').popup({
      transition: 'all 0.8s',
      scrolllock: true
    });

});
</script>
<script>
	var options = {
	  valueNames: [ 'titulo' ]
	};
	var userList = new List('foros', options);
</script>
<script src="desplegable/previsualizar.js"></script>

</body>
</html>
