<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html>
	<head>
		<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
		<title>{{ titulo }}</title>
		<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		
		<link rel="shortcut icon" href="favicon.png" type="image/png" />
		<link href="GridView.css" rel="stylesheet" type="text/css">
		<!--
		<link href="nav.min.css" rel="stylesheet" type="text/css">
		-->

		
		
		<link href='//fonts.googleapis.com/css?family=Open+Sans+Condensed:700,300,300italic' rel='stylesheet' type='text/css'>
		<link href='//fonts.googleapis.com/css?family=Economica:700,400italic' rel='stylesheet' type='text/css'>
		
		
		<script src="buscar/list.js"></script> <!-- Buscar -->
		<link rel="stylesheet" href="buscar/list.css" /> <!-- Buscar -->
		
		
		<!-- NavBar -->
		
		<link rel="stylesheet" href="navbar/style.css">
		<script src="navbar/jquery.min.js"></script>
		
		<script>
			$(function() {
				var pull 		= $('#pull');
					menu 		= $('nav ul');
					menuHeight	= menu.height();

				$(pull).on('click', function(e) {
					e.preventDefault();
					menu.slideToggle();
				});

				$(window).resize(function(){
					var w = $(window).width();
					if(w > 320 && menu.is(':hidden')) {
						menu.removeAttr('style');
					}
				});
			});
		</script>
		
		
		<!-- Fin de NavBar -->
		
		
		<!-- Carrusel -->
		
        <link rel="stylesheet" type="text/css" href="carrusel/css/demo.css" />
        <link rel="stylesheet" type="text/css" href="carrusel/css/style2.css" />
		<script type="text/javascript" src="carrusel/js/modernizr.custom.28468.js"></script>
		<link rel="stylesheet" type="text/css" href="//fonts.googleapis.com/css?family=Economica:700,400italic" />
		<noscript>
			<link rel="stylesheet" type="text/css" href="carrusel/css/nojs.css" />
		</noscript>
		
		<!-- Fin de carrusel -->
		
		
		
		
		
		
		
		
		
		
		
		
		
		
		
	

	<!-- ToolTip styles -->
	<link rel="stylesheet" href="desplegable/tooltip.css" />


	<!-- jQuery -->
	<script src="jquery/jquery-1.8.2.min.js"></script>
	
	<!-- Paginador -->
	<script src="paginador/jquery-1.10.2.min.js"></script>
	<script src="paginador/jquery.textpager.js"></script>
	<!-- Fin de paginador -->
	
    <!-- jQuery Popup Overlay -->
    <script src="desplegable/jquery.popupoverlay.js"></script>
		
	<link rel="stylesheet" href="desplegable/desplegable.css" />
		
		
		
		
		

		<script>
jQuery(document).ready(function ($) {

 $('span.upload').prepend("<b>Subir imagen</b>");  //Your button text
 $('span.upload').append("<span class='filename'></span>");  //The file name 

/* Note: you can put this anywhere you want, i've put this withing the button,
for example. You are free to experiment */

$('#files').change(function () {
   var filename = $('input[type=file]').val().split('\\').pop();
/* The above line will just take up the filename, as described in http://stackoverflow.com/a/6365883/2064231 */

    $('span.filename').html(" - " + filename); 

/* '$(this).val' can be use instead of 'filename' (without quotes) to get the complete url, though the complete url will be something like C:/fakeurl/filename.ext */
});
});
</script>


<link rel="stylesheet" href="footer.css" />
	</head>
	<body>
<!-- Fade -->
<div id="foros" class="cuadro_desplegable" style="width:57%;">
<h4>Foro</h4><br />
<input class="search" placeholder="Filtrar foros" />
<button class="sort" data-sort="name">Ordenar</button>
<div id="users" class="list" style="height:367px; overflow:auto;">
{% for d in temas %}
<pre class="principal">
{% if d.imagen %}<img src="imagenes/{{ d.imagen }}" class="imagen" alt="{{ d.titulo }}" />{% else %}<img src="img/sin_imagen.jpg" alt="Sin imagen" class="imagen" />{% endif %}
<strong class="titulo">{{ d.titulo }}</strong>
<code>
{{ d.descripcion }}
</code>
<form class="acceder" method="post" action="index.php">
<input type="hidden" name="id_tema" value="{{ d.id_tema }}" />
<button type="submit"  name="ver_tema" />
</form></pre>
{% endfor %}
</div>



<div class="tooltip bottom green">
    <a class="foros_cerrar nuevo_foro_abrir"><img src="desplegable/mas.png" width="25" height="25" /></a>
<div class="tooltip-inner">Nueva entrada
<div class="tooltip-angle">
<div class="tooltip-angle-inner">
</div>
</div>
</div>
</div>




<div class="tooltip bottom red">
    <a class="foros_cerrar"><img src="desplegable/salir.ico" width="25" height="25" /></a>
<div class="tooltip-inner">Cerrar
<div class="tooltip-angle">
<div class="tooltip-angle-inner">
</div>
</div>
</div>
</div>


</div>

<!-- fadeandscale -->

<div id="nuevo_foro" class="cuadro_desplegable" style="width:37%;">
    <h4>Nueva entrada</h4>
	<hr id="separacion" />
	<div class="vista_previa">
		<output id="list"></output>
	</div>
	<form method="post" action="index.php" enctype="multipart/form-data">
	<p class="strong">Titulo.: </p>
	<input name="titulo" type="text" /><br /><br />
	<p class="strong">Descripción.:</p>
	<textarea name="descripcion" rows="5" cols="38"></textarea>
	<br /><br />
	<span class="upload"><input type="file" id="files" name="imagen"></span>
	<br /><br /><br />
	<!-- <input id="bootstrap" type="file" id="files" name="files[]" /> id="input-file" -->
    
	<button name="nuevo_tema" type="submit" class="boton">Guardar</button>
    <button class="nuevo_foro_cerrar boton">Cerrar</button>
	</form>
</div>





<div id="chat" class="cuadro_desplegable" style="width:34%;">
	<form method="post" action="index.php">
		<input type="text" class="texto_sala" name="sala" placeholder="Inserta el número" />
		<button type="submit" class="boton_sala" name="ir_sala"></button>
		<input type="submit" name="chat" value="Nueva sala de chat" class="boton_chat" />
	</form>
</div>




<div id="amigos" class="cuadro_desplegable" style="width:34%;">
	<form method="post" action="index.php">
		<p>Agregar amigo: </p><input type="text" name="insertar_amigo" class="insertar_amigo" />
		<button class="boton" name="agregar_amigo">Guardar</button>
		<button class="amigos_cerrar boton">Cerrar</button>
		<br /><hr />
		{% for g in amigos_usuario %}
			<div class="lista_amigos principal">
				{{ g.usuario }}
			</div>
			<input type="submit" name="borrar_amigo" value="{{ g.id_relacion }}" class="eliminar_amigo" />
		{% else %}
			Ja, ja no tienes amigos.
		{% endfor %}
	</form>
</div>












<form method="post" action="index.php">
		<nav class="clearfix">
			<ul class="clearfix">
				{% for d in datos_usuario %}
				<li><button type="submit" name="datos_personales" value="{{ d.id_usuario }}">
					{% if d.avatar %}
						<img src="galerias/fotos_{{ d.usuario }}/avatar/{{ d.avatar }}" alt="Perfil" width="50" height="50" />
					{% endif %}
					<div class="texto">{{ d.usuario }}</div>
				</button></li>
				<li>
					<input type="hidden" name="id_usuario" value="{{ d.id_usuario }}" />
					<input name="galeria" type="submit" value="Galeria" />
				</li>
				{% endfor %}
				<li><a class="foros_abrir">Foro</a></li>
				<li><a class="chat_abrir">Chat</a></li>
				<li><a class="amigos_abrir">Amigos</a></li>
				<li><input name="cerrar" type="submit" value="Salir" /></li>
			</ul>
			<a href="#" id="pull">Menu</a>
		</nav>
</form>

		
	
	
	
	
		<div id="da-slider" class="da-slider">
			<div class="da-slide">
				<h2>Crear conversación</h2>
				<p>Crear una nueva canversación publicas tipo html/css en nuestro foro.</p>
				<a class="nuevo_foro_abrir">
					<input class="da-link" type="submit" name="nueva_conversacion" value="CREAR" style="width:140px; text-align:center;" />
				</a>
				<div class="da-img"><img src="carrusel/images/1.png" alt="Nueva conversación" width="320" height="320" /></div>
			</div>
			<div class="da-slide">
				<h2>Foro</h2>
				<p>Ver todas las conversaciones u opiniones de nuestro foro de la web de filmics en forma de tablon de anuncios en nuestra aplicación de web.</p>
				<a class="foros_abrir">
					<input class="da-link" type="submit" name="foro" value="VER" style="width:140px; text-align:center;" />
				</a>
				<div class="da-img"><img src="carrusel/images/2.png" alt="Ir a foro" /></div>
			</div>
			<div class="da-slide">
				<h2>Sala de chat</h2>
				<p>Obtén actualizaciones instantáneas de las cosas que te interesan. Mira los eventos que se están desarrollando, en tiempo real, desde todos los ángulos.</p>
				<a class="chat_abrir">
					<input class="da-link" type="submit" name="chat" value="IR" style="width:140px; text-align:center;" />
				</a>
				<div class="da-img"><img src="carrusel/images/3.png" alt="Ir a chat" width="320" height="320" /></div>
			</div>
			<div class="da-slide">
				<h2>Amigos</h2>
				<p>Vea los usuarios que estas siguiendo actualmente.</p>
				<a class="amigos_abrir">
					<input class="da-link" type="submit" name="seguir" value="VER" style="width:140px; text-align:center;" />
				</a>
				<div class="da-img"><img src="carrusel/images/4.png" alt="Seguidos" width="520" height="320" /></div>
			</div>
			<nav class="da-arrows">
				<span class="da-arrows-prev"></span>
				<span class="da-arrows-next"></span>
			</nav>
		</div>

	
		<div id="GridView">
		
			<!-- <div class="un-box"> -->
				<div class="custom-textarea" id="custom-textarea">

					{% for d in temas %}
						<div id="GridViewElementos">
							{% if d.imagen %}
								<img src="imagenes/{{ d.imagen }}" alt="{{ d.titulo }}" />
							{% else %}
								<img src="img/sin_imagen.jpg" alt="Sin imagen" style="border: 1px solid #000000;" />
							{% endif %}
							<p class="titulo"><strong>{{ d.titulo }}</strong></p>
							<p class="descripcion">{{ d.descripcion }}</p>
						</div>
					{% endfor %}
				</div>
				
				<div class="custom-control">
					<a class="tp-control-arrow-left unactive"><span><</span></a>
					<a class="tp-control-arrow-right"><span>></span></a>
					<ul class="custom-pages"></ul>
				</div>    
			<!-- </div> -->
		</div>
		
		<br><br><br><br><br><br><br><br>
		<div class="footer"><div class="contenedor">
			<div class="digg"></div>
			<div class="dribbble"></div>
			<div class="facebook"></div>
			
			<div class="friendfeed"></div>
			<div class="google-plus"></div>
			<div class="rss"></div>
			
			<div class="stumbleupon"></div>
			<div class="twitter-bird"></div>
			<div class="viemo"></div>
			<div class="youtube"></div>
			<p class="contacto">socializadorsocial@gmail.com</p>
		</div></div>
		<script type="text/javascript" src="carrusel/js/jquery.cslider.js"></script>
		<script>
			$(function() {
				$('#da-slider').cslider({
					autoplay	: true,
					bgincrement	: 450
				});
			});
			
			$('#custom-textarea').textpager({
				controlArrows: ".custom-control",
				controlPages: ".custom-control .custom-pages",
				controlPagesContent: "li"
			});
		</script>
		
		
		
		
		<script>
			$(document).ready(function () {

				$('#foros').popup({
				  transition: 'all 0.8s',
				  scrolllock: true
				});
				
				$('#chat').popup({
				  transition: 'all 0.8s',
				  scrolllock: true
				});

				$('#nuevo_foro').popup({
					pagecontainer: '.container',
					transition: 'all 0.3s'
				});
				
				$('#amigos').popup({
				  transition: 'all 0.8s',
				  scrolllock: true
				});

			});
		</script>
		<script>
			var options = {
				valueNames: [ 'titulo' ]
			};
			var userList = new List('foros', options);
		</script>
		<script src="desplegable/previsualizar.js"></script>

	
	</body>
</html>