<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8" />
	<link rel="shortcut icon" href="favicon.png" type="image/png" />
	<meta charset="utf-8" />
	<title>{{ titulo }}</title>
	<script src="jquery.min.js"></script>
	<script>
		$(function(){
		  var $form_inputs =   $('form input');
		  var $rainbow_and_border = $('.rain, .border');
		  /* Se utiliza para proporcionar bucles animaciones en modo de retorno */
		  $form_inputs.bind('focus', function(){
		  	$rainbow_and_border.addClass('end').removeClass('unfocus start');
		  });
		  $form_inputs.bind('blur', function(){
		  	$rainbow_and_border.addClass('unfocus start').removeClass('end');
		  });
		  $form_inputs.first().delay(800).queue(function() {
			$(this).focus();
		  });
		});
	</script>
		<link rel="stylesheet" type="text/css" href="estilos_log.css">
		<link rel="stylesheet" type="text/css" href="fondo/fondo.css">
	</head>
	<body id="home">
		<div class="rain">
			<div class="border start">
				<form method="post" action="index.php">
					<label for="usuario">Usuario</label>
					<input name="usuario" type="text" placeholder="Usuario"/>
					<label for="pass">Contraseña</label>
					<input name="pass" type="password" placeholder="Contraseña"/>
					<input type="submit" name="entrar" value="Entrar"/>
					<input type="submit" name="registrarse" value="Alta"/>
				</form>
			</div>
		</div>
	</body>
</html>