/* Clearfix */
nav.clearfix {
	z-index: 10;
}
.clearfix:before,
.clearfix:after {
	content: " ";
	display: table;
}
.clearfix:after {
	clear: both;
}
.clearfix {
	*zoom: 1;
}

/* Basic Styles */

.clearfix {
	height: 40px;
	width: 100%;
	background: #455868;
	font-size: 11pt;
	font-family: 'PT Sans', Arial, sans-serif;
	font-weight: bold;
	position: relative;
	border-bottom: 3px solid #283744;
}
.clearfix ul {
	padding: 0;
	margin: 0 auto;
	width: 900px; /*800px*/
	height: 40px;
}
.clearfix li {
	display: inline;
	float: left;
}
li:first-child{
	width: 200px;
}

li:first-child img{
	position: absolute;
	left: 10px;
}
li:first-child button .texto{
	width: 160px;
	float: right;
}
.clearfix a {
	color: #fff!important;
	display: inline-block;
	width: 140px;
	text-align: center;
	text-decoration: none;
	line-height: 40px;
	height: 40px;
	text-shadow: 1px 1px 0px #283744;
	cursor:pointer
}
.clearfix input, .clearfix button {
	color: #fff;
	display: inline-block;
	width: 140px;
	text-align: center;
	text-decoration: none;
	line-height: 40px;
	height: 40px;
	text-shadow: 1px 1px 0px #283744;

	background-color: transparent;
	border: none;
	cursor: pointer;
	
	border-right: 1px solid #576979;
	box-sizing:border-box;
	-moz-box-sizing:border-box;
	-webkit-box-sizing:border-box;
	
	font-size: 11pt;
	font-family: 'PT Sans', Arial, sans-serif;
	font-weight: bold;
}
.clearfix.formulario input, .clearfix.formulario button, .clearfix.formulario a  {
	height: 37px;
}
li:first-child a, li:first-child input, li:first-child button{
	width: 200px;
}
.clearfix li input, .clearfix li button, .clearfix li a {
	border-right: 1px solid #576979;
	box-sizing:border-box;
	-moz-box-sizing:border-box;
	-webkit-box-sizing:border-box;
}
.clearfix li:last-child input, .clearfix li:last-child button, .clearfix li:last-child a {
	border-right: 0;
}
.clearfix a:hover, .clearfix a:active, .clearfix input:hover, .clearfix input:active, .clearfix button:hover, .clearfix button:active {
	background-color: #8c99a4;
}
.clearfix a#pull, .clearfix input#pull, .clearfix button#pull {
	display: none;
}

/*Styles for screen 600px and lower*/
@media screen and (max-width: 600px) {
	li:first-child img{
		visibility: hidden;
	}
	li:first-child a, li:first-child button{
		width: 100%;
	}
	li:first-child {
		width: 140px;
	}
	div.texto{
		width: 253px;
		float: left;
		width: 100%!important;
		text-align: left;
	}
	ul.clearfix  li button{
		width: 100%
		text-align: left;
	}
	.clearfix a {
		padding-left: 6px;
		height: 40px;
	}


	.clearfix {
  		height: auto;
  	}
  	.clearfix ul {
  		width: 100%;
  		display: block;
  		height: auto;
  	}
  	.clearfix li {
  		width: 50%;
  		float: left;
  		position: relative;
		height:	40px;
  	}
  	.clearfix li a, .clearfix li input, .clearfix li button {
		border-bottom: 1px solid #576979;
		border-right: 1px solid #576979;
	}
  	.clearfix a, .clearfix input, .clearfix button {
	  	text-align: left;
	  	width: 100%;
	  	text-indent: 25px;
  	}
}

/*Styles for screen 515px and lower*/
@media only screen and (max-width : 480px) {
	.clearfix {
		border-bottom: 0;
	}
	.clearfix ul {
		display: none;
		height: auto;
	}
	.clearfix a#pull {
		display: block;
		background-color: #283744;
		width: 100%;
		position: relative;
	}
	.clearfix a#pull:after {
		content:"";
		background: url('nav-icon.png') no-repeat;
		width: 30px;
		height: 30px;
		display: inline-block;
		position: absolute;
		right: 15px;
		top: 10px;
	}
	.clearfix input#pull, .clearfix button#pull{
		display: block;
		background-color: #283744;
		width: 100%;
		position: relative;
	}
	.clearfix input#pull:after, .clearfix button#pull:after{
		content:"";
		background: url('nav-icon.png') no-repeat;
		width: 30px;
		height: 30px;
		display: inline-block;
		position: absolute;
		right: 15px;
		top: 10px;
	}
}

/*Smartphone*/
@media only screen and (max-width : 320px) {
	.clearfix li {
		display: block;
		float: none;
		width: 100%;
	}
	.clearfix li a {
		border-bottom: 1px solid #576979;
	}
	.clearfix li input, .clearfix li button {
		border-bottom: 1px solid #576979;
	}
}