input.search {
	border: solid 1px #ccc;
	border-radius: 5px;
	padding: 7px 14px;
	margin-bottom: 10px;
	width: 77%
}
@media screen and (max-width: 745px) {
	input.search{
		width: 55%;
	}
}
input.search:focus {
	outline: none;
	border-color: #aaa;
}
button.sort {
	padding: 8px 30px;
	border-radius: 6px;
	border: none;
	display: inline-block;
	color: #fff;
	text-decoration: none;
	background-color: #28a8e0;
	height: 30px;
	width: 15%
}
button.sort:hover {
	text-decoration: none;
	background-color: #1b8aba;
}
button.sort:focus {
	outline:none;
}
button.sort:after {
	width: 0;
	height: 0;
	border-left: 5px solid transparent;
	border-right: 5px solid transparent;
	border-bottom: 5px solid transparent;
	content: "";
	position: relative;
	top: -10px;
	right: -5px;
}
button.sort.asc:after {
	width: 0;
	height: 0;
	border-left: 5px solid transparent;
	border-right: 5px solid transparent;
	border-top: 5px solid #fff;
	content: "";
	position: relative;
	top: 13px;
	right: -5px;
}
button.sort.desc:after {
	width: 0;
	height: 0;
	border-left: 5px solid transparent;
	border-right: 5px solid transparent;
	border-bottom: 5px solid #fff;
	content:"";
	position: relative;
	top: -10px;
	right: -5px;
}